@charset "utf-8";

/* -----------------------------------------------
CSS file RESTIR Online Boutique
FileName:/common_shop/css/block.css
Author:　
----------------------------------------------- */

.block-navigation-01 {
	width:160px;
	float:left;
}
	.block-navigation-01 ul li {
		float:left;
		margin-right:5px;
	}
	.block-navigation-01 ul li.logout {
		float:right;
		margin-right:0;
	}
	.block-navigation-01 ul li.memberinfo a {
	    width:75px;
	}
	.block-navigation-01 ul li a {
		display:block;
		padding:3px 5px 0;
		width:60px;
		height:17px;
		text-align:center;
		color:#fff;
	}
	.block-navigation-01 ul li a:link,
	.block-navigation-01 ul li a:visited {
		background-color:#000;
		color:#fff;
	}
	.block-navigation-01 ul li a:hover,
	.block-navigation-01 ul li a:visited:hover {
		background-color:#333;
		color:#fff;
	}
	.block-navigation-01 ul li a:active {
		background-color:#000;
		color:#fff;
	}



.block-langswitcn-01 {
	margin-right:4px;
	width:101px;
	float:left;
}
	.block-langswitcn-01 p.switch a {
		display:block;
		padding:3px 0 0 0;
		width:101px;
		height:17px;
		text-align:center;
		color:#fff;
	}
	.block-langswitcn-01 p.switch a:link,
	.block-langswitcn-01 p.switch a:visited {
		background-color:#000;
		color:#fff;
	}
	.block-langswitcn-01 p.switch a:hover,
	.block-langswitcn-01 p.switch a:visited:hover {
		background-color:#333;
		color:#fff;
	}
	.block-langswitcn-01 p.switch a:active {
		background-color:#000;
		color:#fff;
	}



.block-search-01 {
	margin-left:5px;
	width:260px;
	float:left;
}
	.block-search-01 input{
		float:left;
		margin-right:5px;
	}
	.block-search-01 input#search{
		width:138px;
		height:16px;
		padding:1px 0;
		border:solid 1px #000;
		line-height:1.0;
		color:#999;
	}
	*:first-child+html	.block-search-01 input#search {
		padding-top:4px;
		height:15px;
	}
	.block-search-01 p{
		float:left;
	}
	.block-search-01 p.submit a {
		display:block;
		padding:3px 5px 0;
		width:80px;
		height:17px;
		text-align:center;
		color:#fff;
	}
	.block-search-01 p.submit a:link,
	.block-search-01 p.submit a:visited {
		background-color:#000;
		color:#fff;
	}
	.block-search-01 p.submit a:hover,
	.block-search-01 p.submit a:visited:hover {
		background-color:#333;
		color:#fff;
	}
	.block-search-01 p.submit a:active {
		background-color:#000;
		color:#fff;
	}


.block-cart-01 {
	margin-left:5px;
	float:left;
}
	.block-cart-01 img {
		vertical-align:bottom;
	}
	.block-cart-01 ul li {
		position:relative;
		z-index:10;
	}
	.block-cart-01 ul li > a {
		background:url(/g_images/btn-cart-01-ovr.gif) left top no-repeat;
		display:block;
		zoom:1;
	}
	.block-cart-01 ul li > a.active img,
	.block-cart-01 ul li > a:hover img {
		visibility:hidden;
	}
	.block-cart-01 ul li > a.active {
		height:25px;
		background-color:#333;
	}
	.block-cart-01 .subBlock {
		display:none;
		position:absolute;
		padding:14px 10px 10px;
		width:170px;
		right:0;
		background:url(/g_images/prt-spreader-01.png) no-repeat;
		color:#fff;
	}
	.block-cart-01 .subBlock dl dt {
		width:120px;
	}
	.block-cart-01 .subBlock dl dd {
		margin-top:-1.431em;
		margin-left:120px;
		text-align:right;
	}
	.block-cart-01 .subBlock > p {
		margin-top:10px;
	}
	.block-cart-01 .subBlock > p a {
		display:block;
		padding:5px 10px;
		color:#fff;
		background-color:#444;
		text-align:center;
	}
	.block-cart-01 .subBlock a:link,
	.block-cart-01 .subBlock a:visited {
		background-color:#444;
	}
	.block-cart-01 .subBlock a:hover,
	.block-cart-01 .subBlock a:visited:hover {
		background-color:#666;
	}
	.block-cart-01 .subBlock a:active {
		background-color:#444;
	}
	.block-cart-01 .subBlock > p a span {
		padding-left:23px;
		background:url(/g_images/icn-cart-01.gif) 0 0.131em no-repeat;
	}
	.block-cart-01 .subBlock > a:hover span,
	.block-cart-01 .subBlock > a:visited:hover span {
		background:url(/g_images/icn-cart-01.gif) -381px 0 no-repeat;
	}

.block-topicPath-01 {
	width:480px;
	float:left;
	zoom:1;
}
	.block-topicPath-01 ul li {
		float:left;
		color:#666;
		margin-left:5px;
		padding-left:10px;
		background:url(/g_images/icn-arrow-06.gif) left center no-repeat;
		line-height:1.0;
	}
	.block-topicPath-01 ul li:first-child {
		margin-left:0;
		padding-left:0;
		background:none;
	}
	.block-topicPath-01 ul li a {
		color:#666;
	}

.block-sorter-01 {
	float:right;
	padding-top:7px;
}
	.block-sorter-01 dt,
	.block-sorter-01 dd {
		float:left;
		line-height:1.231;
	}
	.block-sorter-01 dt {
		padding:5px 5px 0 0;
		font-weight:bold;
	}
	.block-sorter-01 dd {
		padding-left:5px;
		text-align:center;
		position:relative;
		z-index:8;
	}
	
	.block-sorter-01 dd > a {
		display:block;
		padding:4px 0 0 0;
		width:85px;
		min-height:16px;
		color:#fff;
	}
	
	.block-sorter-01 dd > a:link,
	.block-sorter-01 dd > a:visited {
		background-color:#000;
		color:#fff;
	}
	.block-sorter-01 dd > a:hover,
	.block-sorter-01 dd > a:visited:hover {
		background-color:#333;
		color:#fff;
	}
	.block-sorter-01 dd > a:active {
		background-color:#000;
		color:#fff;
	}
	.block-sorter-01 dd > a.active {
		background-color:#000;
	}
	.block-sorter-01 dd a span {
		background:url(/g_images/icn-arrow-01.gif) left center no-repeat;
		padding:0 9px;
	}
	
	.block-sorter-01 dd ul {
		text-align:left;
		padding:5px 2px;
		width:81px;
		background-color: #000;
		display:none;
	}
	
	.block-sorter-01 dd ul li.high a,
	.block-sorter-01 dd ul li.low a {
		text-align:center;
		padding-top:2px;
		padding-bottom:2px;
	}
	
	.block-sorter-01 dd ul li.mid{
		padding-top:3px;
		padding-bottom:1px;
	}
	
	.block-sorter-01 dd ul li.high {
		float:left;
		clear:none;
		width:37px;
	}
	.block-sorter-01 dd ul li.mid {
		float:left;
		clear:none;
		width:4px;
	}
	.block-sorter-01 dd ul li.low {
		float:right;
		clear:none;
		width:37px;
	}
	
	.block-sorter-01 dd ul li {
		clear:both;
		padding-top:1px;
		float:left;
		width:100%;
		text-align:right;
	}
	.block-sorter-01 dd ul li a {
		display:block;
		padding:4px 5px 3px 5px;
		color:#fff;
		zoom:1;
	}
	
	.block-sorter-01 ul li a:link,
	.block-sorter-01 ul li a:visited {
		background-color:#000;
		color:#fff;
	}
	.block-sorter-01 dd ul li a:hover,
	.block-sorter-01 dd ul li a:visited:hover {
		background-color:#fff;
		color:#000;
	}
	.block-sorter-01 ul li a:active {
		background-color:#fff;
		color:#000;
	}
	
	.block-sorter-01 dd ul li.mid {
		background-color:#000;
		color:#fff;
	}

.block-pager-01 {
	clear:both;
	float:right;
	margin-top:48px;
	line-height:1.0;
	zoom:1;
	width:400px;
}
.block-pager-01.type-A {
	margin-top: 10px;
	zoom:1;
}

	.block-pager-01 + div,
	.block-pager-01 + h2 {
		clear:right;
	}

	.block-pager-01 ul,
	.block-pager-01 p {
		float:right;
	}
	.block-pager-01 ul li {
		float:left;
	}
	.block-pager-01 .prev {
		background:url(/g_images/icn-arrow-02.gif) left center no-repeat;
	}
	.block-pager-01 .prev a {
		padding-left:7px;
	}
	.block-pager-01 .next {
		background:url(/g_images/icn-arrow-03.gif) right center no-repeat;
		margin-right:5.5em;
	}
	.block-pager-01 .nonext {
		background:none;
		margin-right:5.5em;
	}
	.block-pager-01 .next a {
		padding-right:7px;
	}
	.block-pager-01 ul li {
		border-left:solid 1px #444;
		padding:0 8px;
		font-weight:bold;
	}
	.block-pager-01 ul li a {
		font-weight:normal;
		line-height:1.0;
	}
	.block-pager-01 ul li:first-child {
		border-left:none;
	}
	.block-pager-01 .show {
		clear:both;
		float:right;
		margin-top:-1.231em;
		zoom:1;
		padding-top:1px;
		font-weight:bold;
	}


.block-pager-02 {
	text-align:center;
}
	.block-pager-02 ul {
		margin:0 auto;
		width:150px;
		background:url(../../g_images/prt-separator-04.gif) center center no-repeat;
	}
	.block-pager-02 ul li.new {
		float:left;
		padding-left:14px;
		background:url(../../g_images/icn-arrow-09.gif) left center no-repeat;
	}
	.block-pager-02 ul li.old {
		float:right;
		padding-right:14px;
		background:url(../../g_images/icn-arrow-08.gif) right center no-repeat;
	}
	#newslist .block-pager-02 ul li a {
		display:none;
	}

.block-pager-03 {
	padding-top:25px;
	text-align:center;
}
	.block-pager-03 p {
		text-align:center;
	}
	.block-pager-03 p a {
		padding-left:14px;
		background:url(/g_images/icn-arrow-09.gif) left center no-repeat;
	}

.block-itemLIst-01 {
	margin-top:4px;
	zoom:1;
}
	.block-itemLIst-01 li {
		margin-top:28px;
		padding:0 0 25px 0;
		width:240px;
		vertical-align:top;
		display:-moz-inline-box;
		display:inline-block;
		position:relative;
	}
	*:first-child+html .block-itemLIst-01 li {
		display:inline;
		zoom:1;
	}
	*:first-child+html .block-itemLIst-01 li a img{
		vertical-align:bottom;
	}
	.block-itemLIst-01 li a {
		padding:5px;
		display:block;
		margin:0 29px;
		text-align:center;
	}
	.block-itemLIst-01 li span.state {
		position:absolute;
		top:248px;
		left:35px;
		font-size:7px;
	}
	.block-itemLIst-01 li span.state img {
		margin-right:8px;
	}

	.block-itemLIst-01 li a.caption,
	.block-itemLIst-01 li span.spec {
		display:block;
		text-align:left;
		padding:0;
	}
	.block-itemLIst-01 li a:hover,
	.block-itemLIst-01 li a:visited:hover {
		background-color:#ccc;
	}
	.block-itemLIst-01 li a.caption:visited {
		color:#000;
	}
	.block-itemLIst-01 li a.caption:hover,
	.block-itemLIst-01 li a.caption:visited:hover {
		background:none;
		color:#666;
	}
	.block-itemLIst-01 li a.caption {
		margin:20px 34px 0 34px;
		color:#000;
		line-height:1.131;
		font-weight:normal;
	}
	.block-itemLIst-01 li a.caption em {
		font-style:normal;
		display:block;
	}
	.block-itemLIst-01 li span.spec {
		margin:6px 0 0 34px;
		color:#666;
	}
	.block-itemLIst-01 li span.spec em:first-child {
		font-style:normal;
		font-weight:bold;
		color:#666;
	}
	.block-itemLIst-01 li span.spec em + em {
		font-style:normal;
		margin-left:2px;
		color:#666;
	}



	.block-itemLIst-01 li span.spec.sale {
		color:#E91418;
		text-decoration:line-through;
	}
	.block-itemLIst-01 li span.spec.relabel {
		margin-top:-3px;
	}
	.block-itemLIst-01 li span.spec.relabel em:first-child,
	.block-itemLIst-01 li span.spec.relabel em + em {
		color:#E91418;
	}
	.block-itemLIst-01 li span.per {
		margin:6px 0 0 34px;
		color:#E91418;
	}
	.block-itemLIst-01 li span.per em {
		font-style:normal;
		font-weight:bold;
	}



.block-itemList-02 {
	margin-top:22px;
}
.block-itemList-02#related {
	border-bottom:solid 1px #000;
	margin-top:25px;
	padding-bottom:38px;
}
	.block-itemList-02 .prev {
		float:left;
		width:24px;
		margin-top:8px;
	}
	.block-itemList-02 .prev > a,
		.block-itemList-02 .next >a {
		display:none;
	}
	.block-itemList-02 .next {
		float:right;
		width:24px;
		margin-top:8px;
	}
	.block-itemList-02 .subBlock {
		float:left;
		width:910px;
		padding-left:1px;
		overflow:hidden;
	}
	.block-itemList-02 .subBlock  ul {
		display:table-row;
		zoom:1;
		white-space:nowrap;
	}
	.block-itemList-02 .subBlock ul li {
		display:table-cell;
		text-align:center;
	}

	*:first-child+html .block-itemList-02 .subBlock ul li {
		display:inline;
		zoom:1;
		white-space:nowrap;
		width:182px;
	}
	.block-itemList-02 .subBlock ul li a,
	.block-itemList-02 .subBlock ul li span {
		display:block;
	}
	.block-itemList-02 .subBlock ul li span {
		margin:10px 10px 0;
		color:#666;
		width:162px;
		font-weight:bold;
	}

.block-toPageTop-01 {
	margin-top:78px;
}
.block-toPageTop-02 {
	margin-top:10px;
}
	.block-toPageTop-01 p,
	.block-toPageTop-02 p {
		text-align:right;
	}
	.block-toPageTop-01 p a,
	.block-toPageTop-02 p a {
		padding-left:12px;
		background:url(/g_images/icn-arrow-07.gif) 0 0.431em no-repeat;
	}


.block-itemDetail-01 {
	clear:both;
	padding-top:8px;
}

	.block-itemDetail-01 .div-A {
		float:left;
		width:600px;
		position:relative;
	}
	.block-itemDetail-01 .div-A .image {
		position:absolute;
		top:0;
		left:138px;
		width:462px;
		z-index:1;
	}
	.block-itemDetail-01 .div-A .image img {
		border:solid 1px #eee;
		width:460px;
		height:520px;
	}
	.block-itemDetail-01 .div-A .flash .subBlock {
		min-height:688px;
		position:relative;
		background:#eee;
		text-align:left;
	}
	.block-itemDetail-01 .div-A .flash div.altImg {
		position:absolute;
		top:0;
		left:0;
		z-index:2;
		width:600px;
		height:550px;
		background-color:#EEEEEE;
		text-align:center;
	}
	.block-itemDetail-01 .div-A .flash div.altImg img {
		margin-top:30px;
	}
	.block-itemDetail-01 .div-A .flash dl {
		position:absolute;
		top:113px;
		left:100px;
		padding:190px 0 20px 0;
		width:400px;
		min-height:95px;
	}
	.block-itemDetail-01 .div-A .flash div.altImg + dl {
		position:absolute;
		top:370px;
	}
	.block-itemDetail-01 .div-A .flash dl dt {
		color:#c00;
	}
	.block-itemDetail-01 .div-A .flash dl dd {
		margin-top:4px;
	}
	.block-itemDetail-01 .div-A .flash dl dd.get {
			margin-top:14px;
	}
	.block-itemDetail-01 .div-A .flash dl dd.get a {
		background:url(/g_images/icn-flash-01.gif) left center no-repeat;
		padding-left:16px;
		color:#c00;
	}
	.block-itemDetail-01 .div-A .flash dl dd.get a:link,
	.block-itemDetail-01 .div-A .flash dl dd.get a:visited,
	.block-itemDetail-01 .div-A .flash dl dd.get a:hover,
	.block-itemDetail-01 .div-A .flash dl dd.get a:visited:hover,
	.block-itemDetail-01 .div-A .flash dl dd.get a:active{
		color:#c00;
	}
	
	.block-itemDetail-01 div.div-A div.javascript {
		min-height:688px;
		position:relative;
		text-align:left;
	}
	.block-itemDetail-01 div.div-A div.javascript p {
		position: relative;
		width:460px;
		height:520px;
		float: right;
	}
	.block-itemDetail-01 div.div-A div.javascript p img.loader {
		position: absolute;
		margin: -11px 0px 0px -11px;
		width: 22px;
		display: none;
		height: 22px;
		top: 50%;
		left: 50%
	}
	.block-itemDetail-01 div.div-A div.javascript p img.item {
		width:460px;
		height:520px;
	}
	.block-itemDetail-01 div.div-A div.javascript ul {
		float: left;
	}
	.block-itemDetail-01 div.div-A div.javascript ul li {
		padding-top: 40px;
		/padding-top: 38px; /* for IE6, IE7 */
		padding-left: 47px;
		line-height: 0;
	}

	.block-itemDetail-01 div.div-A div.javascript ul li.li-A {
		padding-top: 0px
	}
	.block-itemDetail-01 div.div-A div.javascript ul li.li-D {
		padding-top: 38px;
		/padding-top: 36px; /* for IE6, IE7 */
	}

	.block-itemDetail-01 div.div-A div.javascript ul img {
		width: 46px;
		height: 52px
	}

	.block-itemDetail-01 div.div-A div.javascript ul img{
		border: 1px solid #ccc;
	}
	.block-itemDetail-01 div.div-A div.javascript p{
		border: 1px solid #ccc;
	}

	
	
	.block-itemDetail-01 .div-B {
		float:right;
		width:340px;
	}

	.block-itemDetail-01 .div-B dl.spec dt,
	.block-itemDetail-01 .div-B p.price,
	.block-itemDetail-01 .div-B dl.color dt .title,
	.block-itemDetail-01 .div-B dl.size dt .title,
	.block-itemDetail-01 .div-B dl.data dt,
	.block-itemDetail-01 .div-B div.ask dl.desk dt,
	.block-itemDetail-01 .div-B div.ask dl.desk dd + dt + dd {
		color:#666;
	}
	.block-itemDetail-01 .div-B p.price em,
	.block-itemDetail-01 .div-B div.ask .title {
		font-style:normal;
	}



	.block-itemDetail-01 .div-B p.price span.sale {
		color:#E91418;
		text-decoration:line-through;
	}
	.block-itemDetail-01 .div-B p.price span.sale em {
		color:#666;
	}
	.block-itemDetail-01 .div-B p.price span.sale em {
		color:#666;
		font-weight:bold;
	}







	.block-itemDetail-01 .div-B p.price span.per {
		margin-left:0.25em;
		color:#E91418;
		font-weight:bold;
	}

	.block-itemDetail-01 .div-B p.relabel {
		color:#E91418;
		font-weight:bold;
	}
	.block-itemDetail-01 .div-B p.relabel em {
		font-style:normal;
	}



	.block-itemDetail-01 .div-B dl dt .title,
	.block-itemDetail-01 .div-B dl dt .choice,
	.block-itemDetail-01 .div-B dl dt .name {
		display:block;
	}
	.block-itemDetail-01 .div-B dl dt .choice,
	.block-itemDetail-01 .div-B dl dt .name,
	.block-itemDetail-01 .div-B dl.quantity dt {
		font-weight:bold;
	}
	.block-itemDetail-01 .div-B dl dt .title,
	.block-itemDetail-01 .div-B dl dt .name {
		margin-top:3px;
		display:block;
	}
	.block-itemDetail-01 .div-B dl.color dt,
	.block-itemDetail-01 .div-B dl.size dt,
	.block-itemDetail-01 .div-B dl.data dt,
	.block-itemDetail-01 .div-B dl.spec dt,
	.block-itemDetail-01 .div-B dl.spec dd,
	.block-itemDetail-01 .div-B dl.quantity dt,
	.block-itemDetail-01 .div-B div.orders .request .wishlist {
		float:left;
	}
	.block-itemDetail-01 .div-B dl.color dd,
	.block-itemDetail-01 .div-B dl.size dd,
	.block-itemDetail-01 .div-B dl.data dd,
	.block-itemDetail-01 .div-B dl.quantity dd,
	.block-itemDetail-01 .div-B dl.quantity dd ul,
	.block-itemDetail-01 .div-B div.orders .request .cart {
		float:right;
	}
	.block-itemDetail-01 .div-B > h1 {
		line-height:0.831;
		margin-top:-2px;
	}
	.block-itemDetail-01 .div-B > h2 {
		font-style:italic;
	}
	.block-itemDetail-01 .div-B dl.spec {
		margin-top:4px;
	}
	.block-itemDetail-01 .div-B dl.spec dt {
		margin-right:10px;
	}
	.block-itemDetail-01 .div-B dl.spec dd {
		padding-top:2px;
		margin-right:20px;
	}
	.block-itemDetail-01 .div-B .comment {
		margin-top:12px;
		line-height:1.631;
	}
	.block-itemDetail-01 .div-B p.movieBtn {
		margin-top:12px;
	}
	.block-itemDetail-01 .div-B p.movieBtn a {
	}
	.block-itemDetail-01 .div-B div.movie {
		margin-top:8px;
		width:1px;
		height:1px;
		overflow:hidden;
	}
	.block-itemDetail-01 .div-B div.movie p.close {
		text-align:right;
	}
	.block-itemDetail-01 .div-B div.movie p.close + div {
		margin-top:10px;
	}
	.block-itemDetail-01 .div-B dl.quantity ul li a {
		display:block;
		padding:8px 10px;
		text-align:center;
	}
	.block-itemDetail-01 .div-B dl.quantity ul li:first-child a {
		background:url(/g_images/icn-arrow-01.gif) right center no-repeat;
	}
	.block-itemDetail-01 .div-B div.orders .request .wishlist {
		width:140px;
	}
	.block-itemDetail-01 .div-B div.orders .request .cart {
		width:190px;
	}
	.block-itemDetail-01 .div-B div.orders .request a,
	.block-itemDetail-01 .div-B div.orders .request a {
		display:block;
		padding:6px 10px;
		text-align:center;
	}
	.block-itemDetail-01 .div-B dl.quantity ul li a:link,
	.block-itemDetail-01 .div-B dl.quantity ul li a:visited,
	.block-itemDetail-01 .div-B div.request a:link,
	.block-itemDetail-01 .div-B div.request a:visited {
		background-color:#000;
		color:#fff;
	}
	.block-itemDetail-01 .div-B dl.quantity ul li a:hover,
	.block-itemDetail-01 .div-B dl.quantity ul li a:visited:hover,
	.block-itemDetail-01 .div-B div.request a:hover,
	.block-itemDetail-01 .div-B div.request a:visited:hover {
		background-color:#333;
		color:#fff;
	}
	.block-itemDetail-01 .div-B dl.quantity ul li a:active,
	.block-itemDetail-01 .div-B div.request a:active {
		background-color:#000;
		color:#fff;
	}
	.block-itemDetail-01 .div-B div.orders .request .cart a span {
		padding-left:23px;
		background:url(/g_images/icn-cart-01.gif) left top no-repeat;
	}
	.block-itemDetail-01 .div-B div.orders .request .cart a:hover span,
	.block-itemDetail-01 .div-B div.orders .request .cart a:visited:hover span {
		background:url(/g_images/icn-cart-01.gif) -381px 0 no-repeat;
	}
	.block-itemDetail-01 .div-B dl.color{
		margin-top:19px;
	}
	.block-itemDetail-01 .div-B dl.size {
		margin-top:15px;
	}
	.block-itemDetail-01 .div-B dl.color dt,
	.block-itemDetail-01 .div-B dl.size dt,
	.block-itemDetail-01 .div-B dl.data dt,
	.block-itemDetail-01 .div-B dl.quantity dt {
		margin-top:-2px;
		width:100px;
	}
	.block-itemDetail-01 .div-B dl.color dd,
	.block-itemDetail-01 .div-B dl.size dd  {
		width:240px;
		overflow:hidden;
	}
	.block-itemDetail-01 .div-B dl.data dd  {
		float:left;
	}
	.block-itemDetail-01 .div-B p.chart {
		margin-top:0.8em;
	}
	.block-itemDetail-01 .div-B p.chart a {
		color:#666666;
		font-weight:bold;
		text-decoration:underline;
	}
	.block-itemDetail-01 .div-B dl.color dd ul,
	.block-itemDetail-01 .div-B dl.size dd ul {
		width:243px;
		margin-left:-3px;
		margin-top:-3px;
	}
	.block-itemDetail-01 .div-B dl.color dd ul li,
	.block-itemDetail-01 .div-B dl.size dd ul li {
		float:left;
		width:30px;
		height:30px;
		border:solid 1px #fff;
		margin-left:3px;
		margin-top:3px;
	}
	.block-itemDetail-01 .div-B dl.color dd ul li a {
		display:block;
		width:28px;
		height:28px;
		border:solid 1px #eee;
		overflow:hidden;
	}
	.block-itemDetail-01 .div-B dl.size dd ul li a {
		display:block;
		height:21px;
		padding-top:9px;
		overflow:hidden;
		text-align:center;
	}
	.block-itemDetail-01 .div-B dl.size dd ul li a.disable:link,
	.block-itemDetail-01 .div-B dl.size dd ul li a.disable:hover,
	.block-itemDetail-01 .div-B dl.size dd ul li a.disable:visited,
	.block-itemDetail-01 .div-B dl.size dd ul li a.disable:visited:hover,
	.block-itemDetail-01 .div-B dl.size dd ul li a.disable:active {
		color:#ccc;
	}
	.block-itemDetail-01 .div-B dl.color dd ul li:hover,
	.block-itemDetail-01 .div-B dl.size dd ul li:hover,
	.block-itemDetail-01 .div-B dl.color dd ul li.active,
	.block-itemDetail-01 .div-B dl.size dd ul li.active {
		border-color:#666;
	}
	.block-itemDetail-01 .div-B dl.size dd ul li a:link,
	.block-itemDetail-01 .div-B dl.size dd ul li a:hover,
	.block-itemDetail-01 .div-B dl.size dd ul li a:visited,
	.block-itemDetail-01 .div-B dl.size dd ul li a:visited:hover,
	.block-itemDetail-01 .div-B dl.size dd ul li a:active {
		color:#000;
	}
	.block-itemDetail-01 .div-B dl.size .name .out {
		color:#d00;
		margin-left:5px;
		font-style:normal;
	}
	.block-itemDetail-01 .div-B dl.data {
		margin-top:6px;
		font-weight:bold;
	}
	.block-itemDetail-01 .div-B div.ask {
		margin-top:15px;
	}
	.block-itemDetail-01 .div-B div.ask .title {
		font-weight:bold;
	}
	.block-itemDetail-01 .div-B div.ask .title + p,
	.block-itemDetail-01 .div-B div.ask div.desk p {
		padding-top:3px;
		color:#4c4948;
	}
	.block-itemDetail-01 .div-B div.ask div.desk p.mail a {
		text-decoration:underline;
		margin-left:2px;
		color:#4c4948;
	}
	.block-itemDetail-01 .div-B div.ask div.desk p.mail a:link,
	.block-itemDetail-01 .div-B div.ask div.desk p.mail a:hover,
	.block-itemDetail-01 .div-B div.ask div.desk p.mail a:visited,
	.block-itemDetail-01 .div-B div.ask div.desk p.mail a:visited:hover,
	.block-itemDetail-01 .div-B div.ask div.desk p.mail a:active {
		color:#4c4948;						
	}
	.block-itemDetail-01 .div-B div.ask div.desk p.tel {
		letter-spacing:2px;
	}
	.block-itemDetail-01 .div-B div.ask div.desk p.tel span {
		letter-spacing:0;
		margin-left:2px;
	}
	.block-itemDetail-01 .div-B div.orders {
		margin-top:15px;
	}
	.block-itemDetail-01 .div-B div.orders .quantity dt {
		margin-top:3px;
	}
	.block-itemDetail-01 .div-B div.orders dd div.disabled {
		width:320px;
		height:45px;
		background:url(/g_images/prt-spreader-03.png);
		position:absolute;
		top:0;
		left:0;
	}
	.block-itemDetail-01 .div-B div.orders dl.quantity dd {
		width:240px;
	}
	.block-itemDetail-01 .div-B div.orders dl.quantity dd span.title {
		width:58px;
		margin-top:5px;
		overflow:hidden;
		vertical-align:middle;
	}
	.block-itemDetail-01 .div-B div.orders dl.quantity dd select {
		min-width:60px;
		vertical-align:middle;
	}

	.block-itemDetail-01 .div-B div.orders .request {
		margin-top:20px;
		position:relative;
		zoom:1;
		overflow:hidden;
	}
	.block-itemDetail-01 .div-B div.orders .request .disabled {
		width:340px;
		height:100px;
		background:url(/g_images/prt-spreader-03.png) no-repeat;
		position:absolute;
		top:0;
		left:0;
	}
	
	.block-itemDetail-01 .div-B div.addthis_default_style{
		padding: 10px 0 0 0;
		border-top: dashed 1px #000;
	}
	
	.block-itemDetail-01 .div-B div.addthis_default_style img.img-share{
		padding: 5px 0 0 0;
		float: left;
	}
	
	.block-itemDetail-01 .div-B div.addthis_default_style img.img-twitter,
	.block-itemDetail-01 .div-B div.addthis_default_style img.img-facebook,
	.block-itemDetail-01 .div-B div.addthis_default_style img.img-mail{
		float: left;
		padding: 7px 0 0 0;
	}
	
	.block-itemDetail-01 .div-B div.addthis_default_style a.addthis_button_twitter,
	.block-itemDetail-01 .div-B div.addthis_default_style a.addthis_button_facebook,
	.block-itemDetail-01 .div-B div.addthis_default_style a.button_mail{
		float: left;
	}
	
	.block-itemDetail-01 .div-B div.addthis_default_style div.twitter,
	.block-itemDetail-01 .div-B div.addthis_default_style div.facebook{
		float: right;
		width: 80px;
	}
	
	.block-itemDetail-01 .div-B div.addthis_default_style div.mail{
		float: right;
	}

	.block-itemDetail-01 div.international  a {
		text-decoration: underline;
		font-weight: bold;
		font-size: 12px;
		font-family: Helvetica;
	}
.block-status-01 {
	float:right;
	width:340px;
}
	.block-status-01 span.state img {
		margin-right:10px;
	}

.block-archiveList-01 {
	padding-top:3px;
}
	.block-archiveList-01 ul.ul-A {
		padding-bottom:15px;
	}
	.block-archiveList-01 ul.ul-A li {
		line-height:1.25;
		font-style:italic;
		text-align:center;
	}
	.block-archiveList-01 ul.ul-B {
		padding:5px 0 15px 0;
	}
	.block-archiveList-01 ul.ul-B li {
		text-align:center;
	}
	.block-archiveList-01 ul.ul-C {
		padding-top:6px;
	}
	.block-archiveList-01 ul.ul-C li {
		margin-top:6px;
		text-align:center;
	}
	.block-archiveList-01 ul.ul-D {
		margin-top:15px;
		padding-top:8px;
		border-top:1px solid #000000;
	}
	.block-archiveList-01 ul.ul-D li {
		margin-top:6px;
		text-align:center;
	}
	.block-archiveList-01 ul.ul-E {
		padding-bottom:0;
	}
	.block-archiveList-01 ul.ul-E li {
		margin-left:1em;
		line-height:1.25;
		font-style:italic;
		text-align:left;
	}



.block-entryBody-01 {
	padding-bottom:45px;
	text-align:center;
}
	.block-entryBody-01 h2 {
		text-align:center;
	}
	.block-entryBody-01 h2.set-Music {
		text-align:center;
	}
	.block-entryBody-01 h3 {
		margin-top:18px;
		padding-bottom:8px;
		line-height:1.0;
	}
	.block-entryBody-01 p.description {
		margin-top:3px;
		padding:0 110px;
		line-height:1.1;
	}
	.block-entryBody-01 div.entryBody {
		margin:0 auto;
		width:600px;
		text-align:center;
	}
	.block-entryBody-01 div.entryBody .viz {
		margin-top:15px;
		text-align:center;
	}
	.block-entryBody-01 div.entryBody .video {
		margin-top:15px;
		text-align:center;
	}
	.block-entryBody-01 div.entryBody .cap {
		margin-top:6px;
	}
	.block-entryBody-01 div.entryBody .music {
		margin-top:20px;
		text-align:left;
	}
	.block-entryBody-01 div.entryBody .music .stitle {
		padding-bottom:6px;
	}
	.block-entryBody-01 div.entryBody .txt {
		margin-top:20px;
		text-align:left;
	}
	.block-entryBody-01 div.entryBody .txt a {
		text-decoration:underline;
	}
	.block-entryBody-01 p.date {
		margin:30px auto 0 auto;
		padding-top:5px;
		border-top:1px solid #B2B2B2;
		width:600px;
		text-align:left;
	}
	.block-entryBody-01 p.entrydate {
		margin:0 auto;
		width:600px;
		text-align:center;
	}

	/* for BLOG and MUSIC BLOG */
	.block-entryBody-01 div.entryBody a {
		text-decoration:underline;
	}
	.block-entryBody-01 div.entryBody.blog {
		width:500px;
	}
	.block-entryBody-01 div.entryBody .cap-center {
		padding-bottom:15px;
		text-align:center;
	}
	.block-entryBody-01 div.entryBody .cap-left {
		padding-bottom:15px;
		text-align:left;
	}
	.block-entryBody-01 div.entryBody .txt-notes {
		margin-left:-50px;
		text-align:left;
	}
	.block-entryBody-01 div.entryBody .txt-subtitle {
		margin-top:30px;
		text-align:center;
	}
	.block-entryBody-01 div.entryBody .editor p {
		margin-top:20px;
		text-align:left;
	}
	.block-entryBody-01 div.entryBody .moreinfo {
		text-align:left;
	}
	.block-entryBody-01 div.entryBody .editor .moreinfo {
		padding-left:10px;
		background:url(/g_images/icn-arrow-03.gif) left center no-repeat;
	}
	.block-entryBody-01 div.entryBody .editor .moreinfo {
		padding-left:10px;
		background:url(/g_images/icn-arrow-03.gif) 0 0.4em no-repeat;
	}
	.block-entryBody-01 div.entryBody .editor .moreinfo a,
	.block-entryBody-01 div.entryBody .editor a.moreinfo {
		text-decoration:none;
	}
	.block-entryBody-01 div.entryBody .horizontal {
		margin-top:15px;
		border-top:1px dotted #9A9A9A;
	}

.block-entryBody-02 {
	text-align:left;
}
	.block-entryBody-02 .column-A {
		float:left;
		width:390px;
	}
	.block-entryBody-02 .column-B {
		float:right;
		width:400px;
	}
	.block-entryBody-02 .viz {
		margin-top:25px;
	}
	.block-entryBody-02 div .viz:first-child {
		margin-top:0;
	}
	.block-entryBody-02 .cap {
		margin-top:6px;
	}
	.block-entryBody-02 p.eheader {
		width:100%;
		line-height:1.1;
	}
	.block-entryBody-02 p.eheader span.category {
		display:block;
		float:left;
	}
	.block-entryBody-02 p.eheader span.date {
		display:block;
		float:right;
	}
	.block-entryBody-02 h2 {
		margin-top:18px;
		line-height:1.1;
	}
	.block-entryBody-02 h3 {
		margin-top:6px;
	}
	.block-entryBody-02 .entryBody {
		margin-top:25px;
		border-top:1px solid #CCCCCC;
	}
	.block-entryBody-02 .entryBody .txt-A {
		margin-top:25px;
	}
	.block-entryBody-02 .entryBody .txt-B {
		margin-top:25px;
		color:#4E4E4E;
	}
	.block-entryBody-02 .entryBody .txt-C {
		margin-top:25px;
	}
	.block-entryBody-02 .entryBody p a {
		text-decoration:underline;
	}

.block-entryList-01 {
	margin-top:26px;
}
	.block-entryList-01 .subBlock {
		padding-bottom:35px;
		width:820px;
		padding-left:1px;
		overflow:hidden;
	}
	.block-entryList-01 .subBlock ul {
		display:table-row;
		zoom:1;
		white-space:nowrap;
	}
	.block-entryList-01 .subBlock ul li {
		padding-right:33px;
		display:table-cell;
		text-align:left;
		vertical-align:top;
	}
	*:first-child+html .block-entryList-01 .subBlock ul li {
		padding-right:0;
		display:inline;
		zoom:1;
		white-space:nowrap;
		width:213px;
	}
	.block-entryList-01 .subBlock ul li span {
		display:block;
	}
	.block-entryList-01 .subBlock ul li span.viz {
		width:180px;
		height:180px;
		font-size:1px;
		line-height:0;
	}
	.block-entryList-01 .subBlock ul li span.viz img {
		width:180px;
		height:180px;
		display:block;
	}
	.block-entryList-01 .subBlock ul li span.viz a {
		width:180px;
		height:180px;
		display:block;
		overflow:hidden;
		background:none;
	}
	.block-entryList-01 .subBlock ul li span.viz a:hover {
		width:170px;
		height:170px;
		border:5px solid #DDDDDD;
	}
	.block-entryList-01 .subBlock ul li span.viz a:hover img {
		margin:-5px 0 0 -5px;
	}
	.block-entryList-01 .subBlock ul li p.eheader {
		padding-top:18px;
		width:180px;
		line-height:1.1;
	}
	.block-entryList-01 .subBlock ul li p.eheader span.category {
		float:left;
	}
	.block-entryList-01 .subBlock ul li p.eheader span.date {
		float:right;
	}
	.block-entryList-01 .subBlock ul li h2 {
		margin-top:4px;
		min-height:2.3em;
		width:180px;
		line-height:1.1;
		white-space:normal;
	}
	.block-entryList-01 .subBlock ul li p.description {
		margin-top:1.2em;
		width:180px;
		line-height:1.5;
		white-space:normal;
	}

.block-staticElem-01 {
	padding-bottom:20px;
}
	.block-staticElem-01 div.div-A {
		float:left;
		width:390px;
	}
	.block-staticElem-01 div.div-B {
		float:right;
		width:390px;
	}
	.block-staticElem-01 p.p-A,
	.block-staticElem-01 p.p-B,
	.block-staticElem-01 p.p-C {
		margin-top:20px;
		line-height:1.7;
		font-weight:normal;
	}
	.block-staticElem-01 p.p-D {
		margin-top:10px;
		line-height:1.7;
		font-weight:normal;
	}
	.block-staticElem-01 p.p-D.set-Indent {
		margin-top:3px;
		margin-left:2em;
	}
	.block-staticElem-01 p.p-A a,
	.block-staticElem-01 p.p-B a,
	.block-staticElem-01 p.p-C a,
	.block-staticElem-01 p.p-D a {
		text-decoration:underline;
	}
	.block-staticElem-01 div.img-A {
		margin-top:20px;
	}

	.block-staticElem-01 ol.ol-A {
		margin-top:10px;
		line-height:1.7;
	}
	.block-staticElem-01 ol.ol-A li {
		margin-left:2.2em;
		list-style:decimal;
	}

.block-staticElem-02 {

}
	.block-staticElem-02 div.div-A {
		width:500px;
		float:left;
	}
	.block-staticElem-02 div.div-B {
		width:155px;
		float:left;
	}
	.block-staticElem-02 p.p-A {
		margin-top:6px;
		color:#4E4E4E;
		font-style:italic;
	}
	.block-staticElem-02 div.set-List {
		padding-top:6px;
		width:100%;
	}
	.block-staticElem-02 div.set-List ul {
		padding-bottom:12px;
	}
	.block-staticElem-02 div.set-List li {
		margin-top:3px;
		margin-right:1em;
	}

	.block-staticElem-02 div.div-A div.set-List ul {
		width:32%;
		float:left;
	}

.block-staticElem-03 {
	margin-top:10px;
	width:100%;
}
	.block-staticElem-03 .set-Static {
		padding:45px 0;
		width:100%;
	}
	.block-staticElem-03 .set-Static div.div-A {
		float:left;
		width:430px;
	}
	.block-staticElem-03 .set-Static div.div-B {
		float:left;
		width:390px;
	}
	.block-staticElem-03 .set-Static table {
		margin:0;
		padding:0;
		width:100%;
	}
	.block-staticElem-03 .set-Static th {
		width:174px;
		border-right:1px solid #060406;
		min-height:60px;
		height:60px;
		vertical-align:middle;
	}
	.block-staticElem-03 .set-Static th h3.h3-01 {
		margin-top:0;
	}
	.block-staticElem-03 .set-Static div.div-A th h3.h3-01 {
		margin-left:20px;
	}
	.block-staticElem-03 .set-Static div.div-B th h3.h3-01 {
		margin-left:60px;
	}
	.block-staticElem-03 .set-Static td {
		padding:0 0 0 14px;
		line-height:1.6;
		min-height:60px;
		height:60px;
	}
	.block-staticElem-03 .set-Static td a {
		text-decoration:underline;
	}

.block-staticElem-04 {
	margin-top:15px;
	padding-top:10px;
	width:100%;
	border-top:1px solid #000000;
}
	.block-staticElem-04 div.div-A {
		width:120px;
		float:left;
	}
	.block-staticElem-04 div.div-B {
		width:680px;
		float:right;
	}
	.block-staticElem-04 div.div-C {
		width:100%;
	}
	.block-staticElem-04 p.p-A {
		
	}
	.block-staticElem-04 p.p-B {

	}
	.block-staticElem-04 div.div-C p.p-A {
		margin-top:3px;
		padding-left:10px;
		float:right;
		background:url(/g_images/icn-arrow-03.gif) left center no-repeat;
		font-weight:bold;
	}
	.block-staticElem-04 div.div-C p.p-B {
		float:left;
	}

	div.block-freeSpace{
		background-color: #666;
		color: #000;
		clear:both;
		width:100%;
		height: 100px;
		margin: 20px 0px -10px 0px;
		/margin: 9px 0px -25px 0px; /* for IE6, IE7 */
		display:block;
	}

/* clear fix 
******************************** */

.block-itemList-02,
.block-itemDetail-01,
.block-itemDetail-01 .div-B dl,
.block-itemDetail-01 .div-B dl.color dd ul,
.block-itemDetail-01 .div-B dl.size dd ul,
.block-itemDetail-01 .div-B div.orders .quantity,
.block-itemDetail-01 .div-B div.addthis_default_style,
.block-sorter-01 dd ul,
.block-pager-02 ul,
.block-entryList-01 .subBlock ul li p.eheader,
.block-entryBody-02,
.block-entryBody-02 p.eheader,
.block-staticElem-01,
.block-staticElem-02,
.block-staticElem-02 div.set-List,
.block-staticElem-03 .set-Static,
.block-staticElem-04,
.block-staticElem-04 div.div-C {
	zoom:1;
}

.block-itemList-02:after,
.block-itemDetail-01:after,
.block-itemDetail-01 .div-B dl:after,
.block-itemDetail-01 .div-B dl.color dd ul:after,
.block-itemDetail-01 .div-B dl.size dd ul:after,
.block-itemDetail-01 .div-B div.orders .quantity:after,
.block-itemDetail-01 .div-B div.addthis_default_style:after,
.block-sorter-01 dd ul:after,
.block-pager-02 ul:after,
.block-entryList-01 .subBlock ul li p.eheader:after,
.block-entryBody-02:after,
.block-entryBody-02 p.eheader:after,
.block-staticElem-01:after,
.block-staticElem-02:after,
.block-staticElem-02 div.set-List:after,
.block-staticElem-03 .set-Static:after,
.block-staticElem-04:after,
.block-staticElem-04 div.div-C:after {
	content:"."; 
	clear:both; 
	height:0; 
	display:block; 
	visibility:hidden;
}

/* CSS Document */
