/* CSS file */
.leafTitle
{
	font-size: 11px;
	font-family: arial;
	font-weight: bold;
	background-gradient-colors: #5EA2EB, #5590D2;
}

.expandButton
{
	selected-up-skin:        	Embed("/assets/flora/expand_up.png");
	selected-over-skin:      	Embed("/assets/flora/expand_over.png");
	selected-down-skin:      	Embed("/assets/flora/expand_up.png");
}

.minimizeRestoreButton
{
	up-skin:        	Embed("/assets/flora/minimize_up.png");
	over-skin:      	Embed("/assets/flora/minimize_over.png");
	down-skin:      	Embed("/assets/flora/minimize_up.png");
	selected-up-skin:   Embed("/assets/flora/restore_up.png");
	selected-over-skin: Embed("/assets/flora/restore_over.png");
	selected-down-skin: Embed("/assets/flora/restore_up.png");
}
