@charset "UTF-8"; 

.h-01 {	text-indent: -9999px; width: 900px; height: 50px; background: url(../../per_images/bar/bar_title01.gif) no-repeat; margin-bottom: 20px; }
.h-02 {	text-indent: -9999px; width: 900px; height: 50px; background: url(../../per_images/bar/bar_title02.gif) no-repeat; margin-bottom: 20px; }
.h-03 {	text-indent: -9999px; width: 900px; height: 50px; background: url(../../per_images/bar/bar_title03.gif) no-repeat; margin-bottom: 20px; }
.h-04 {	text-indent: -9999px; width: 900px; height: 50px; background: url(../../per_images/bar/bar_title04.gif) no-repeat; margin-bottom: 20px; }
.h-05 {	text-indent: -9999px; width: 900px; height: 50px; background: url(../../per_images/bar/bar_title05.gif) no-repeat; margin-bottom: 20px; }

.h-07 {	text-indent: -9999px; width: 900px; height: 50px; background: url(../../per_images/bar/bar_title07.gif) no-repeat; margin-bottom: 20px; }
.h-08 {	text-indent: -9999px; width: 900px; height: 50px; background: url(../../per_images/bar/bar_title08.gif) no-repeat; margin-bottom: 20px; }
.h-09 {	text-indent: -9999px; width: 900px; height: 50px; background: url(../../per_images/bar/bar_title09.gif) no-repeat; margin-bottom: 20px; }
.h-10 {	text-indent: -9999px; width: 700px; height: 50px; background: url(../../per_images/bar/bar_title10.gif) no-repeat; margin-bottom: 20px; }
.h-11 {	text-indent: -9999px; width: 700px; height: 50px; background: url(../../per_images/bar/bar_title11.gif) no-repeat; margin-bottom: 20px; }
.h-12 {	text-indent: -9999px; width: 700px; height: 50px; background: url(../../per_images/bar/bar_title12.gif) no-repeat; margin-bottom: 20px; }
.h-13 {	text-indent: -9999px; width: 700px; height: 50px; background: url(../../per_images/bar/bar_title13.gif) no-repeat; margin-bottom: 20px; }
.h-14 {	text-indent: -9999px; width: 700px; height: 50px; background: url(../../per_images/bar/bar_title14.gif) no-repeat; margin-bottom: 20px; }
.h-15 {	text-indent: -9999px; width: 700px; height: 50px; background: url(../../per_images/bar/bar_title15.gif) no-repeat; margin-bottom: 20px; }
.h-16 {	text-indent: -9999px; width: 700px; height: 50px; background: url(../../per_images/bar/bar_title16.gif) no-repeat; margin-bottom: 20px; }
.h-17 {	text-indent: -9999px; width: 700px; height: 50px; background: url(../../per_images/bar/bar_title17.gif) no-repeat; margin-bottom: 20px; }
.h-18 {	text-indent: -9999px; width: 700px; height: 50px; background: url(../../per_images/bar/bar_title18.gif) no-repeat; margin-bottom: 20px; }
.h-19 {	text-indent: -9999px; width: 700px; height: 50px; background: url(../../per_images/bar/bar_title19.gif) no-repeat; margin-bottom: 20px; }
.h-20 {	text-indent: -9999px; width: 700px; height: 50px; background: url(../../per_images/bar/bar_title20.gif) no-repeat; margin-bottom: 20px; }
.h-21 {	text-indent: -9999px; width: 900px; height: 50px; background: url(../../per_images/bar/bar_title21.gif) no-repeat; margin-bottom: 20px; }
.h-22 {	text-indent: -9999px; width: 700px; height: 50px; background: url(../../per_images/bar/bar_title22.gif) no-repeat; margin-bottom: 20px; }
.h-23 {	text-indent: -9999px; width: 700px; height: 50px; background: url(../../per_images/bar/bar_title23.gif) no-repeat; margin-bottom: 20px; }
.h-24 {	text-indent: -9999px; width: 700px; height: 50px; background: url(../../per_images/bar/bar_title24.gif) no-repeat; margin-bottom: 20px; }
.h-25 {	text-indent: -9999px; width: 700px; height: 50px; background: url(../../per_images/bar/bar_title25.gif) no-repeat; margin-bottom: 20px; }
.h-26 {	text-indent: -9999px; width: 700px; height: 50px; background: url(../../per_images/bar/bar_title26.gif) no-repeat; margin-bottom: 20px; }
.h-27 {	text-indent: -9999px; width: 700px; height: 50px; background: url(../../per_images/bar/bar_title27.gif) no-repeat; margin-bottom: 20px; }
.h-28 {	text-indent: -9999px; width: 700px; height: 50px; background: url(../../per_images/bar/bar_title28.gif) no-repeat; margin-bottom: 20px; }
.h-29 {	text-indent: -9999px; width: 700px; height: 50px; background: url(../../per_images/bar/bar_title29.gif) no-repeat; margin-bottom: 20px; }
.h-30 {	text-indent: -9999px; width: 96px; height: 15px; background: url(../../per_images/bar/bar_title30.gif) no-repeat; margin: 20px 0 5px; }

.h-31 {	margin-bottom: 20px; padding-top: 10px; }

.h-32 {	text-indent: -9999px; width: 900px; height: 50px; background: url(../../per_images/bar/bar_title32.gif) no-repeat; margin-bottom: 20px; }
.h-33 {	text-indent: -9999px; width: 900px; height: 50px; background: url(../../per_images/bar/bar_title33.gif) no-repeat; margin-bottom: 20px; }
.h-34 {	text-indent: -9999px; width: 900px; height: 50px; background: url(../../per_images/bar/bar_title34.gif) no-repeat; margin-bottom: 20px; }
.h-35 {	text-indent: -9999px; width: 900px; height: 50px; background: url(../../per_images/bar/bar_title35.gif) no-repeat; margin-bottom: 20px; }
.h-36 {	text-indent: -9999px; width: 900px; height: 50px; background: url(../../per_images/bar/bar_title36.gif) no-repeat; margin-bottom: 20px; }
.h-37 {	text-indent: -9999px; width: 900px; height: 50px; background: url(../../per_images/bar/bar_title37.gif) no-repeat; margin-bottom: 20px; }
.h-38 {	text-indent: -9999px; width: 900px; height: 50px; background: url(../../per_images/bar/bar_title38.gif) no-repeat; margin-bottom: 20px; }
.h-39 {	text-indent: -9999px; width: 900px; height: 50px; background: url(../../per_images/bar/bar_title39.gif) no-repeat; margin-bottom: 20px; }
.h-40 {	text-indent: -9999px; width: 900px; height: 30px; background: url(../../per_images/bar/bar_title40.gif) no-repeat; margin-bottom: 5px; }
.h-41 {	text-indent: -9999px; width: 900px; height: 30px; background: url(../../per_images/bar/bar_title41.gif) no-repeat; margin-bottom: 5px; }
.h-42 {	text-indent: -9999px; width: 900px; height: 30px; background: url(../../per_images/bar/bar_title42.gif) no-repeat; margin-bottom: 5px; }
.h-43 {	text-indent: -9999px; width: 900px; height: 30px; background: url(../../per_images/bar/bar_title43.gif) no-repeat; margin-bottom: 5px; }
.h-44 {	text-indent: -9999px; width: 900px; height: 30px; background: url(../../per_images/bar/bar_title44.gif) no-repeat; margin-bottom: 5px; }
.h-45 {	text-indent: -9999px; width: 900px; height: 30px; background: url(../../per_images/bar/bar_title45.gif) no-repeat; margin-bottom: 5px; }
.h-46 {	text-indent: -9999px; width: 900px; height: 30px; background: url(../../per_images/bar/bar_title46.gif) no-repeat; margin-bottom: 5px; }
.h-47 {	text-indent: -9999px; width: 900px; height: 30px; background: url(../../per_images/bar/bar_title47.gif) no-repeat; margin-bottom: 5px; }
.h-48 {	text-indent: -9999px; width: 700px; height: 30px; background: url(../../per_images/bar/bar_title48.gif) no-repeat; margin-bottom: 5px; }
.h-49 {	text-indent: -9999px; width: 700px; height: 30px; background: url(../../per_images/bar/bar_title49.gif) no-repeat; margin-bottom: 5px; }
.h-50 {	text-indent: -9999px; width: 700px; height: 30px; background: url(../../per_images/bar/bar_title50.gif) no-repeat; margin-bottom: 5px; }
.h-51 {	text-indent: -9999px; width: 700px; height: 30px; background: url(../../per_images/bar/bar_title51.gif) no-repeat; margin-bottom: 5px; }
.h-52 {	text-indent: -9999px; width: 700px; height: 30px; background: url(../../per_images/bar/bar_title52.gif) no-repeat; margin-bottom: 5px; }
.h-53 {	text-indent: -9999px; width: 700px; height: 30px; background: url(../../per_images/bar/bar_title53.gif) no-repeat; margin-bottom: 5px; }
.h-54 {	text-indent: -9999px; width: 900px; height: 30px; background: url(../../per_images/bar/bar_title54.gif) no-repeat; margin-bottom: 5px; }
.h-55 {	text-indent: -9999px; width: 700px; height: 30px; background: url(../../per_images/bar/bar_title55.gif) no-repeat; margin-bottom: 5px; }
.h-56 {	text-indent: -9999px; width: 900px; height: 30px; background: url(../../per_images/bar/bar_title56.gif) no-repeat; margin-bottom: 5px; }
.h-57 {	text-indent: -9999px; width: 700px; height: 30px; background: url(../../per_images/bar/bar_title57.gif) no-repeat; margin-bottom: 5px; }
.h-58 {	text-indent: -9999px; width: 700px; height: 30px; background: url(../../per_images/bar/bar_title58.gif) no-repeat; margin-bottom: 5px; }
.h-59 {	text-indent: -9999px; width: 700px; height: 30px; background: url(../../per_images/bar/bar_title59.gif) no-repeat; margin-bottom: 5px; }

.h-60 {	margin-bottom: 5px; padding-top: 4px; border-bottom:1px solid #ccc; padding-bottom: 5px; font-weight: bold; }

.h-61 {	text-indent: -9999px; width: 700px; height: 30px; background: url(../../per_images/bar/bar_title61.gif) no-repeat; margin-bottom: 5px; }


.h-70 {	text-indent: 10px; background: #000;; margin-bottom: 5px; padding: 4px;  font-size: 13px; color: #fff; font-weight: normal; font-family:Helvetica, Arial, sans-serif }

.h-200 { text-indent: -9999px; width: 948px; height: 50px; background: url(../../per_images/bar/bar_title200.png) no-repeat; margin-bottom: 20px; }
.h-201 { text-indent: -9999px; width: 948px; height: 50px; background: url(../../per_images/bar/bar_title201.png) no-repeat; margin-bottom: 20px; }
.h-202 { text-indent: -9999px; width: 948px; height: 50px; background: url(../../per_images/bar/bar_title202.png) no-repeat; margin-bottom: 20px; }

.h-300 {	text-indent: -9999px; width: 700px; height: 50px; background: url(../../per_images/bar/bar_title300.gif) 0 50% no-repeat; }
.h-301 {	text-indent: -9999px; width: 700px; height: 50px; background: url(../../per_images/bar/bar_title301.gif) 0 50% no-repeat; }
.h-302 {	text-indent: -9999px; width: 700px; height: 50px; background: url(../../per_images/bar/bar_title302.gif) 0 50% no-repeat; }
.h-303 {	text-indent: -9999px; width: 700px; height: 50px; background: url(../../per_images/bar/bar_title303.gif) no-repeat; margin-bottom: 20px; }
.h-304 {	text-indent: -9999px; width: 700px; height: 50px; background: url(../../per_images/bar/bar_title304.gif) no-repeat; margin-bottom: 20px; }
.h-305 {	text-indent: -9999px; width: 700px; height: 50px; background: url(../../per_images/bar/bar_title305.gif) 0 50% no-repeat; }
.h-306 {	text-indent: -9999px; width: 700px; height: 50px; background: url(../../per_images/bar/bar_title306.gif) 0 50% no-repeat; }
.h-307 {	text-indent: -9999px; width: 700px; height: 50px; background: url(../../per_images/bar/bar_title307.gif) 0 50% no-repeat; }
.h-308 {	text-indent: -9999px; width: 700px; height: 50px; background: url(../../per_images/bar/bar_title308.gif) no-repeat; margin-bottom: 20px; }
.h-309 {	text-indent: -9999px; width: 700px; height: 50px; background: url(../../per_images/bar/bar_title309.gif) no-repeat; margin-bottom: 20px; }
.h-310 {	text-indent: -9999px; width: 700px; height: 25px; background: url(../../per_images/bar/bar_title310.gif) no-repeat; margin-bottom: 20px; }
.h-311 {	text-indent: -9999px; width: 738px; height: 50px; background: url(../../per_images/bar/bar_title311.gif) no-repeat; margin-bottom: 20px; }
.h-312 {	text-indent: -9999px; width: 738px; height: 50px; background: url(../../per_images/bar/bar_title312.gif) no-repeat; margin-bottom: 20px; }
.h-313 {	text-indent: -9999px; width: 738px; height: 50px; background: url(../../per_images/bar/bar_title313.gif) no-repeat; margin-bottom: 20px; }
.h-314 {	text-indent: -9999px; width: 700px; height: 50px; background: url(../../per_images/bar/bar_title314.gif) no-repeat; margin-bottom: 20px; }
.h-315 {	text-indent: -9999px; width: 900px; height: 50px; background: url(../../per_images/bar/bar_title315.gif) no-repeat; margin-bottom: 20px; }
.h-316 {	text-indent: -9999px; width: 700px; height: 50px; background: url(../../per_images/bar/bar_title316.gif) 0 0 no-repeat; }

.h-318 { text-indent: -9999px; width: 210px; height: 15px; background: url(../../per_images/bar/bar_title318.gif) 0 0 no-repeat; margin-bottom: 15px; }
.h-319 { text-indent: -9999px; width: 210px; height: 15px; background: url(../../per_images/bar/bar_title319.gif) 0 0 no-repeat; margin-bottom: 15px; }
.h-320 { text-indent: -9999px; width: 210px; height: 15px; background: url(../../per_images/bar/bar_title320.gif) 0 0 no-repeat; margin-bottom: 15px; }

.h-st{
	padding: 3px 3px 3px 5px;
	color: #000;
	zoom: 1;
	font-weight: bold;
	background: #000;
	color: #fff;
	line-height: 20px;
}
