@charset "UTF-8";

a.btn{
	display: block;
	text-indent: -9999px;
	background: no-repeat;
	overflow: hidden;
	outline: none;
}

input.btn{
	display: block;
	text-indent: -9999px;
	background: no-repeat;
	overflow: hidden;
	outline: none;
}

a.btn:hover 		{ background-position: 0 bottom; }
a.btn62:hover 	{ background-position: 0px -20px; }
a.btn61:hover 	{ background-position: 0px -20px; }

input.btn:hover { background-position: 0 bottom; }

.btn-right	{ float: right; }
.btn-left		{ float: left; }

a.btn01{
	width: 160px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn01.gif");
}
a.btn02{
	width: 160px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn02.gif");
}
a.btn03{
	width: 50px; height: 20px;
	background-image: url("../../per_images/btn_tab/btn03.gif");
}
a.btn04{
	width: 50px; height: 20px;
	background-image: url("../../per_images/btn_tab/btn04.gif");
	margin: 0 auto;
}
a.btn05{
	width: 100px; height: 20px;
	background-image: url("../../per_images/btn_tab/btn05.gif");
	margin: 0 auto;
}
a.btn06{
	width: 90px; height: 16px;
	background-image: url("../../per_images/btn_tab/btn06.gif");
}
a.btn07{
	width: 156px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn07.gif");
}
a.btn08{
	width: 156px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn08.gif");
}
a.btn09{
	width: 156px; height: 36px;
	background-image: url("../../per_images/btn_tab/btn09.gif");
}
a.btn10{
	width: 206px; height: 36px;
	background-image: url("../../per_images/btn_tab/btn10.gif");
}
a.btn11{
	width: 206px; height: 36px;
	background-image: url("../../per_images/btn_tab/btn11.gif");
}
a.btn12{
	width: 110px; height: 20px;
	background-image: url("../../per_images/btn_tab/btn12.gif");
}
a.btn13{
	width: 50px; height: 20px;
	background-image: url("../../per_images/btn_tab/btn13.gif");
}
a.btn14{
	width: 180px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn14.gif");
}
a.btn15{
	width: 206px; height: 36px;
	background-image: url("../../per_images/btn_tab/btn15.gif");
}
a.btn16{
	width: 200px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn16.gif");
	margin: 20px 0;
}
a.btn17{
	width: 206px; height: 36px;
	background-image: url("../../per_images/btn_tab/btn17.gif");
}
a.btn18{
	width: 200px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn18.gif");
}
a.btn19{
	width: 80px; height: 20px;
	background-image: url("../../per_images/btn_tab/btn19.gif");
}
a.btn20{
	width: 100px; height: 20px;
	background-image: url("../../per_images/btn_tab/btn20.gif");
}
a.btn22{
	width: 200px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn22.gif");
}
a.btn21{
	width: 110px; height: 30px;
	background: url("../../per_images/btn_tab/nav_mypage.png") -810px 0;
}
a.btn21.cuurent,a.btn21:hover{
	background: url("../../per_images/btn_tab/nav_mypage.png") -810px -30px;
}
a.btn23{
	width: 160px; height: 30px;
	background: url(../../per_images/btn_tab/btn23.gif) no-repeat;
}

a.btn24{
	width: 80px; height: 20px;
	background: url(../../per_images/btn_tab/btn24.gif) no-repeat;
}

a.btn25{
	width: 120px; height: 20px;
	background: url(../../per_images/btn_tab/btn25.gif) no-repeat;
}

a.btn26{
	width: 120px; height: 20px;
	background: url(../../per_images/btn_tab/btn26.gif) no-repeat;
}

a.btn27{
	width: 206px; height: 36px;
	background: url(../../per_images/btn_tab/btn27.gif) no-repeat;
}

a.btn28{
	width: 160px; height: 30px;
	background: url(../../per_images/btn_tab/btn28.gif) no-repeat;
}

a.btn29{
	width: 206px; height: 36px;
	background: url(../../per_images/btn_tab/btn29.gif) no-repeat;
}

a.btn30{
	width: 200px; height: 30px;
	background: url(../../per_images/btn_tab/btn30.gif) no-repeat;
}

a.btn31{
	width: 154px; height: 24px;
	background: url(../../per_images/btn_tab/btn31.gif) no-repeat;
}

a.btn32{
	width: 80px; height: 20px;
	background: url(../../per_images/btn_tab/btn32.gif) no-repeat;
}
a.btn32-02{
	width: 80px; height: 20px;
	background: url(../../per_images/btn_tab/btn32_02.gif) no-repeat;
}


a.btn33{
	width: 80px; height: 20px;
	background: url(../../per_images/btn_tab/btn33.gif) no-repeat;
}

a.btn34{
	width: 200px; height: 30px;
	background: url(../../per_images/btn_tab/btn34.gif) no-repeat;
}

a.btn35{
	width: 200px; height: 30px;
	background: url(../../per_images/btn_tab/btn35.gif) no-repeat;
}

a.btn36{
	width: 200px; height: 30px;
	background: url(../../per_images/btn_tab/btn36.gif) no-repeat;
}

a.btn37{
	width: 200px; height: 30px;
	background: url(../../per_images/btn_tab/btn37.gif) no-repeat;
}

a.btn38{
	width: 200px; height: 30px;
	background: url(../../per_images/btn_tab/btn38.gif) no-repeat;
}

a.btn53{
	width: 200px; height: 30px;
	background: url(../../per_images/btn_tab/btn43.gif) no-repeat;
}


a.btn54{
	width: 206px; height: 36px;
	background: url(../../per_images/btn_tab/btn54.gif) no-repeat;
}

a.btn55{
	width: 136px; height: 36px;
	background: url(../../per_images/btn_tab/btn55.gif) no-repeat;
}
a.btn56{
	width: 200px; height: 30px;
	background: url(../../per_images/btn_tab/btn56.gif) no-repeat;
}
a.btn57{
	width: 206px; height: 36px;
	background: url(../../per_images/btn_tab/btn57.gif) no-repeat;
}
a.btn58{
	width: 200px; height: 30px;
	background: url(../../per_images/btn_tab/btn58.gif) no-repeat;
}

a.btn59{
	width: 160px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn59.gif");
}

a.btn60{
	width: 160px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn60.gif");
}

a.btn61{
	width: 100px; height: 20px;
	background-image: url("../../per_images/btn_tab/btn_delete.gif");
}

a.btn62{
	width: 80px; height: 20px;
	background-image: url("../../per_images/btn_tab/btn_addtocart.gif");
	/*margin: 0 auto;*/
}
a.btn71{
	width: 200px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn71.gif");
}
a.btn72{
	width: 160px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn72.gif");
}

/** リンク 英語 */
a.btn01-en{
	width: 210px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn01_en.gif");
}

a.btn24-en{
	width: 80px; height: 20px;
	background: url(../../per_images/btn_tab/btn24_en.gif) no-repeat;
}

a.btn30-en{
	width: 210px; height: 30px;
	background: url(../../per_images/btn_tab/btn30_en.gif) no-repeat;
}

a.btn32-en{
	width: 80px; height: 20px;
	background: url(../../per_images/btn_tab/btn32_en.gif) no-repeat;
}

a.btn32-02-en{
	width: 80px; height: 20px;
	background: url(../../per_images/btn_tab/btn32_02_en.gif) no-repeat;
}

a.btn33-en{
	width: 80px; height: 20px;
	background: url(../../per_images/btn_tab/btn33_en.gif) no-repeat;
}

a.btn34-en{
	width: 160px; height: 30px;
	background: url(../../per_images/btn_tab/btn34_en.gif) no-repeat;
}

a.btn35-en{
	width: 210px; height: 30px;
	background: url(../../per_images/btn_tab/btn35_en.gif) no-repeat;
}

a.btn38-en{
	width: 210px; height: 30px;
	background: url(../../per_images/btn_tab/btn38_en.gif) no-repeat;
}

/** リンク 中国 */
a.btn01-zh{
	width: 210px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn01_zh.gif");
}
a.btn05-zh{
	width: 100px; height: 20px;
	background-image: url("../../per_images/btn_tab/btn05_zh.gif");
	margin: 0 auto;
}

a.btn08-zh{
	width: 156px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn08_zh.gif");
}

a.btn24-zh{
	width: 80px; height: 20px;
	background: url(../../per_images/btn_tab/btn24-Zh.gif) no-repeat;
}

a.btn30-zh{
	width: 210px; height: 30px;
	background: url(../../per_images/btn_tab/btn30_zh.gif) no-repeat;
}


a.btn32-zh{
	width: 80px; height: 20px;
	background: url(../../per_images/btn_tab/btn32_zh.gif) no-repeat;
}

a.btn32-02-zh{
	width: 80px; height: 20px;
	background: url(../../per_images/btn_tab/btn32_02-Zh.gif) no-repeat;
}

a.btn33-zh{
	width: 80px; height: 20px;
	background: url(../../per_images/btn_tab/btn33-Zh.gif) no-repeat;
}

a.btn34-zh{
	width: 200px; height: 30px;
	background: url(../../per_images/btn_tab/btn34-Zh.gif) no-repeat;
}

a.btn35-zh{
	width: 210px; height: 30px;
	background: url(../../per_images/btn_tab/btn35-Zh.gif) no-repeat;
}

a.btn38-zh{
	width: 200px; height: 30px;
	background: url(../../per_images/btn_tab/btn38_zh.gif) no-repeat;
}

a.btn38-2-zh{
	width: 200px; height: 30px;
	background: url(../../per_images/btn_tab/btn38-2_zh.gif) no-repeat;
}

a.btn62-zh{
	width: 80px; height: 20px;
	background-image: url("../../per_images/btn_tab/btn_addtocart-Zh.gif");
	/*margin: 0 auto;*/
}
a.btn04-zh{
	width: 50px; height: 20px;
	background-image: url("../../per_images/btn_tab/btn04-Zh.gif");
	margin: 0 auto;
}

a.btn84-zh{
	width: 210px; height: 20px;
	background-image: url("../../per_images/btn_tab/btn84-Zh.gif");
	margin: 0 auto;
	text-indent:-9999px;
	border:0 none;
}
a.btn85-zh{
	width: 210px; height: 20px;
	background-image: url("../../per_images/btn_tab/btn85-Zh.gif");
	margin: 0 auto;
	text-indent:-9999px;
	border:0 none;
}
a.btn74-zh{
	width: 200px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn74_zh.gif");
}


/* ボタン */
input.btn01{
	width: 160px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn01.gif");
	text-indent:-9999px;
	border:0 none;
}
input.btn02{
	width: 160px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn02.gif");
	text-indent:-9999px;
	border:0 none;
}
input.btn03{
	width: 50px; height: 20px;
	background-image: url("../../per_images/btn_tab/btn03.gif");
	text-indent:-9999px;
	border:0 none;
}
input.btn04{
	width: 50px; height: 20px;
	background-image: url("../../per_images/btn_tab/btn04.gif");
	margin: 0 auto;
	text-indent:-9999px;
	border:0 none;
}
input.btn05{
	width: 100px; height: 20px;
	background-image: url("../../per_images/btn_tab/btn05.gif");
	margin: 0 auto;
	text-indent:-9999px;
	border:0 none;
}
input.btn06{
	width: 90px; height: 16px;
	background-image: url("../../per_images/btn_tab/btn06.gif");
	text-indent:-9999px;
	border:0 none;
}
input.btn07{
	width: 156px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn07.gif");
	text-indent:-9999px;
	border:0 none;
}
input.btn08{
	width: 156px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn08.gif");
	text-indent:-9999px;
	border:0 none;
}
input.btn09{
	width: 156px; height: 36px;
	background-image: url("../../per_images/btn_tab/btn09.gif");
	text-indent:-9999px;
	border:0 none;
}
input.btn10{
	width: 206px; height: 36px;
	background-image: url("../../per_images/btn_tab/btn10.gif");
	text-indent:-9999px;
	border:0 none;
}
input.btn11{
	width: 206px; height: 36px;
	background-image: url("../../per_images/btn_tab/btn11.gif");
	text-indent:-9999px;
	border:0 none;
}
input.btn12{
	width: 110px; height: 20px;
	background-image: url("../../per_images/btn_tab/btn12.gif");
	text-indent:-9999px;
	border:0 none;
}
input.btn13{
	width: 50px; height: 20px;
	background-image: url("../../per_images/btn_tab/btn13.gif");
	text-indent:-9999px;
	border:0 none;
}
input.btn14{
	width: 180px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn14.gif");
	text-indent:-9999px;
	border:0 none;
}
input.btn15{
	width: 206px; height: 36px;
	background-image: url("../../per_images/btn_tab/btn15.gif");
	text-indent:-9999px;
	border:0 none;
}
input.btn16{
	width: 200px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn16.gif");
	text-indent:-9999px;
	border:0 none;
	margin: 20px 0;
}
input.btn17{
	width: 206px; height: 36px;
	background-image: url("../../per_images/btn_tab/btn17.gif");
	text-indent:-9999px;
	border:0 none;
}
input.btn18{
	width: 200px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn18.gif");
	text-indent:-9999px;
	border:0 none;
}
input.btn19{
	width: 80px; height: 20px;
	background-image: url("../../per_images/btn_tab/btn19.gif");
	text-indent:-9999px;
	border:0 none;
}
input.btn20{
	width: 100px; height: 20px;
	background-image: url("../../per_images/btn_tab/btn20.gif");
	text-indent:-9999px;
	border:0 none;
}
input.btn22{
	width: 200px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn22.gif");
	text-indent:-9999px;
	border:0 none;
}
input.btn21{
	width: 110px; height: 30px;
	background: url("../../per_images/btn_tab/nav_mypage.png") -810px 0;
	text-indent:-9999px;
	border:0 none;
}
input.btn21.cuurent,input.btn21:hover{
	background: url("../../per_images/btn_tab/nav_mypage.png") -810px -30px;
	text-indent:-9999px;
	border:0 none;
}
input.btn23{
	width: 160px; height: 30px;
	background: url(../../per_images/btn_tab/btn23.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}

input.btn24{
	width: 80px; height: 20px;
	background: url(../../per_images/btn_tab/btn24.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}

input.btn25{
	width: 120px; height: 20px;
	background: url(../../per_images/btn_tab/btn25.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}

input.btn26{
	width: 120px; height: 20px;
	background: url(../../per_images/btn_tab/btn26.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}

input.btn27{
	width: 206px; height: 36px;
	background: url(../../per_images/btn_tab/btn27.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}

input.btn28{
	width: 160px; height: 30px;
	background: url(../../per_images/btn_tab/btn28.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}

input.btn29{
	width: 206px; height: 36px;
	background: url(../../per_images/btn_tab/btn29.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}

input.btn30{
	width: 200px; height: 30px;
	background: url(../../per_images/btn_tab/btn30.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}

input.btn31{
	width: 154px; height: 24px;
	background: url(../../per_images/btn_tab/btn31.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}

input.btn32{
	width: 80px; height: 20px;
	background: url(../../per_images/btn_tab/btn32.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}

input.btn33{
	width: 60px; height: 20px;
	background: url(../../per_images/btn_tab/btn33.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}

input.btn34{
	width: 200px; height: 30px;
	background: url(../../per_images/btn_tab/btn34.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}

input.btn35{
	width: 200px; height: 30px;
	background: url(../../per_images/btn_tab/btn35.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}

input.btn36{
	width: 200px; height: 30px;
	background: url(../../per_images/btn_tab/btn36.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}

input.btn37{
	width: 200px; height: 30px;
	background: url(../../per_images/btn_tab/btn37.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}

input.btn38{
	width: 200px; height: 30px;
	background: url(../../per_images/btn_tab/btn38.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}

input.btn53{
	width: 200px; height: 30px;
	background: url(../../per_images/btn_tab/btn43.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}

input.btn53-02{
	width: 200px; height: 30px;
	background: url(../../per_images/btn_tab/btn53_02.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}

input.btn54{
	width: 206px; height: 36px;
	background: url(../../per_images/btn_tab/btn54.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}

input.btn55{
	width: 136px; height: 36px;
	background: url(../../per_images/btn_tab/btn55.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}
input.btn56{
	width: 200px; height: 30px;
	background: url(../../per_images/btn_tab/btn56.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}
input.btn57{
	width: 206px; height: 36px;
	background: url(../../per_images/btn_tab/btn57.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}
input.btn58{
	width: 200px; height: 30px;
	background: url(../../per_images/btn_tab/btn58.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}

input.btn59{
	width: 160px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn59.gif");
	text-indent:-9999px;
	border:0 none;
}

input.btn60{
	width: 160px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn60.gif");
	text-indent:-9999px;
	border:0 none;
}

input.btn61{
	width: 100px; height: 20px;
	background-image: url("../../per_images/btn_tab/btn_delete.gif");
	text-indent:-9999px;
	border:0 none;
}

input.btn62{
	width: 80px; height: 20px;
	background-image: url("../../per_images/btn_tab/btn_addtocart.gif");
	text-indent:-9999px;
	border:0 none;
}
input.btn71{
	width: 200px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn71.gif");
	text-indent:-9999px;
	border:0 none;
}
input.btn72{
	width: 160px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn72.gif");
	text-indent:-9999px;
	border:0 none;
}
input.btn73{
	width: 200px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn73.gif");
	text-indent:-9999px;
	border:0 none;
}
input.btn74{
	width: 200px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn74.gif");
	text-indent:-9999px;
	border:0 none;
}

input.btn81{
	width: 140px; height: 30px;
	background-image: url("../../images/button/btn-wishlist-2.png");
	text-indent:-9999px;
	border:0 none;
}

input.btn82{
	width: 190px; height: 30px;
	background-image: url("../../images/button/btn-cart-2.png");
	text-indent:-9999px;
	border:0 none;
}
input.btn83{
	width: 55px; height: 15px;
	background-image: url("../../per_images/btn_tab/btn83.gif");
	margin: 0 auto;
	text-indent:-9999px;
	border:0 none;
}
input.btn84{
	width: 210px; height: 20px;
	background-image: url("../../per_images/btn_tab/btn84.gif");
	margin: 0 auto;
	text-indent:-9999px;
	border:0 none;
}
a.btn84{
	width: 210px; height: 20px;
	background-image: url("../../per_images/btn_tab/btn84.gif");
	margin: 0 auto;
	text-indent:-9999px;
	border:0 none;
}
input.btn85{
	width: 210px; height: 20px;
	background-image: url("../../per_images/btn_tab/btn85.gif");
	margin: 0 auto;
	text-indent:-9999px;
	border:0 none;
}
a.btn85{
	width: 210px; height: 20px;
	background-image: url("../../per_images/btn_tab/btn85.gif");
	margin: 0 auto;
	text-indent:-9999px;
	border:0 none;
}
input.noime{
	ime-mode:disabled;
}
input.w300{
	width: 300px;
}

/* ボタン 英語 */
input.btn02-en{
	width: 210px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn02_en.gif");
	text-indent:-9999px;
	border:0 none;
}

input.btn14-en{
	width: 210px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn14_en.gif");
	text-indent:-9999px;
	border:0 none;
}

input.btn16-en{
	width: 220px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn16_en.gif");
	text-indent:-9999px;
	border:0 none;
	margin: 20px 0;
}

input.btn18-en{
	width: 200px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn18_en.gif");
	text-indent:-9999px;
	border:0 none;
}

input.btn20-en{
	width: 100px; height: 20px;
	background-image: url("../../per_images/btn_tab/btn20_en.gif");
	text-indent:-9999px;
	border:0 none;
}

input.btn22-en{
	width: 160px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn22_en.gif");
	text-indent:-9999px;
	border:0 none;
}

input.btn23-en{
	width: 160px; height: 30px;
	background: url(../../per_images/btn_tab/btn23_en.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}

input.btn28-en{
	width: 160px; height: 30px;
	background: url(../../per_images/btn_tab/btn28_en.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}

input.btn35-en{
	width: 210px; height: 30px;
	background: url(../../per_images/btn_tab/btn35_en.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}

input.btn37-en{
	width: 160px; height: 30px;
	background: url(../../per_images/btn_tab/btn37_en.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}

input.btn53-02-en{
	width: 220px; height: 30px;
	background: url(../../per_images/btn_tab/btn53_02_en.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}

input.btn58-en{
	width: 200px; height: 30px;
	background: url(../../per_images/btn_tab/btn58_en.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}

input.btn59-en{
	width: 210px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn59_en.gif");
	text-indent:-9999px;
	border:0 none;
}

input.btn60-en{
	width: 210px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn60_en.gif");
	text-indent:-9999px;
	border:0 none;
}

input.btn71-en{
	width: 200px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn71_en.gif");
	text-indent:-9999px;
	border:0 none;
}

input.btn72-en{
	width: 160px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn72_en.gif");
	text-indent:-9999px;
	border:0 none;
}

input.btn73-en{
	width: 210px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn73_en.gif");
	text-indent:-9999px;
	border:0 none;
}

input.btn74-en{
	width: 210px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn74_en.gif");
	text-indent:-9999px;
	border:0 none;
}

/* ボタン 中国語 */
input.btn01-zh{
	width: 160px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn01_zh.gif");
	text-indent:-9999px;
	border:0 none;
}
input.btn02-zh{
	width: 210px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn02_zh.gif");
	text-indent:-9999px;
	border:0 none;
}
input.btn04-zh{
	width: 50px; height: 20px;
	background-image: url("../../per_images/btn_tab/btn04-Zh.gif");
	margin: 0 auto;
	text-indent:-9999px;
	border:0 none;
}
input.btn07-zh{
	width: 156px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn07_zh.gif");
	text-indent:-9999px;
	border:0 none;
}
input.btn14-zh{
	width: 210px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn14_zh.gif");
	text-indent:-9999px;
	border:0 none;
}

input.btn16-zh{
	width: 220px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn16_zh.gif");
	text-indent:-9999px;
	border:0 none;
	margin: 20px 0;
}

input.btn18-zh{
	width: 200px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn18_zh.gif");
	text-indent:-9999px;
	border:0 none;
}

input.btn20-zh{
	width: 100px; height: 20px;
	background-image: url("../../per_images/btn_tab/btn20_zh.gif");
	text-indent:-9999px;
	border:0 none;
}

input.btn22-zh{
	width: 200px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn22_zh.gif");
	text-indent:-9999px;
	border:0 none;
}

input.btn23-zh{
	width: 160px; height: 30px;
	background: url(../../per_images/btn_tab/btn23_zh.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}

input.btn24-zh{
	width: 80px; height: 20px;
	background: url(../../per_images/btn_tab/btn24_zh.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}

input.btn28-zh{
	width: 160px; height: 30px;
	background: url(../../per_images/btn_tab/btn28_zh.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}

input.btn32-zh{
	width: 80px; height: 20px;
	background: url(../../per_images/btn_tab/btn32_zh.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}


input.btn33-zh{
	width: 60px; height: 20px;
	background: url(../../per_images/btn_tab/btn33_zh.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}

input.btn35-zh{
	width: 210px; height: 30px;
	background: url(../../per_images/btn_tab/btn35-Zh.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}

input.btn37-zh{
	width: 200px; height: 30px;
	background: url(../../per_images/btn_tab/btn37-Zh.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}

input.btn53-zh{
	width: 200px; height: 30px;
	background: url(../../per_images/btn_tab/btn43_zh.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}

input.btn53-02-zh{
	width: 220px; height: 30px;
	background: url(../../per_images/btn_tab/btn53_02_zh.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}

input.btn58-zh{
	width: 200px; height: 30px;
	background: url(../../per_images/btn_tab/btn58_zh.gif) no-repeat;
	text-indent:-9999px;
	border:0 none;
}

input.btn59-zh{
	width: 210px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn59_zh.gif");
	text-indent:-9999px;
	border:0 none;
}

input.btn60-zh{
	width: 210px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn60_zh.gif");
	text-indent:-9999px;
	border:0 none;
}

input.btn71-zh{
	width: 200px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn71_zh.gif");
	text-indent:-9999px;
	border:0 none;
}

input.btn72-zh{
	width: 160px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn72_zh.gif");
	text-indent:-9999px;
	border:0 none;
}

input.btn73-zh{
	width: 210px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn73_zh.gif");
	text-indent:-9999px;
	border:0 none;
}
input.btn74-zh{
	width: 210px; height: 30px;
	background-image: url("../../per_images/btn_tab/btn74_zh.gif");
	text-indent:-9999px;
	border:0 none;
}

input.btn83-zh{
	width: 55px; height: 15px;
	background-image: url("../../per_images/btn_tab/btn83-Zh.gif");
	margin: 0 auto;
	text-indent:-9999px;
	border:0 none;
}


/* マイページメニュー */
ul.li-select-menu li a{
	display:block;
	text-indent: -9999px;
}


/* お気に入り(大) */
ul.li-select-menu li.btn39 a{ width: 499px; height: 75px; background: url(../../per_images/btn_tab/btn39.gif) no-repeat; overflow: hidden; outline: none;}
ul.li-select-menu li.btn39 a:hover, ul.li-select-menu li.btn39 a.current { background-position: right 0 }
/* ご注文履歴(大) */
ul.li-select-menu li.btn40 a{ width: 499px; height: 71px; background: url(../../per_images/btn_tab/btn39.gif) no-repeat left -75px; overflow: hidden; outline: none;}
ul.li-select-menu li.btn40 a:hover, ul.li-select-menu li.btn40 a.current { background-position: right -75px }
/* 住所録(大) */
ul.li-select-menu li.btn41 a{ width: 499px; height: 71px; background: url(../../per_images/btn_tab/btn39.gif) no-repeat left -146px; overflow: hidden; outline: none;}
ul.li-select-menu li.btn41 a:hover, ul.li-select-menu li.btn41 a.current { background-position: right -146px }
/* おすすめレビュー(大) */
ul.li-select-menu li.btn42 a{ width: 499px; height: 76px; background: url(../../per_images/btn_tab/btn39.gif) no-repeat left bottom; overflow: hidden; outline: none;}
ul.li-select-menu li.btn42 a:hover, ul.li-select-menu li.btn42 a.current { background-position: right bottom }

/* 会員情報の変更(大) */
ul.li-select-menu li.btn43 a{ width: 380px; height: 50px; background: url(../../per_images/btn_tab/btn40.gif) no-repeat; overflow: hidden; outline: none;}
ul.li-select-menu li.btn43 a:hover, ul.li-select-menu li.btn43 a.current { background-position: right 0 }
/* パスワードの変更(大) */
ul.li-select-menu li.btn44 a{ width: 380px; height: 50px; background: url(../../per_images/btn_tab/btn40.gif) no-repeat left -50px; overflow: hidden; outline: none;}
ul.li-select-menu li.btn44 a:hover, ul.li-select-menu li.btn44 a.current { background-position: right -50px }
/* ご登録メールアドレスの変更(大) */
ul.li-select-menu li.btn45 a{ width: 380px; height: 50px; background: url(../../per_images/btn_tab/btn40.gif) no-repeat left bottom; overflow: hidden; outline: none;}
ul.li-select-menu li.btn45 a:hover, ul.li-select-menu li.btn45 a.current { background-position: right bottom }

/* お気に入り */
ul.li-select-menu li.btn46 a{ width: 100px; height: 30px; background: url(../../per_images/btn_tab/nav_mypage.png) -100px 0 no-repeat; overflow: hidden; outline: none;}
ul.li-select-menu li.btn46 a:hover, ul.li-select-menu li.btn46 a.current { background-position: -100px -30px; }
/* ご注文履歴 */
ul.li-select-menu li.btn47 a{ width: 100px; height: 30px; background: url(../../per_images/btn_tab/nav_mypage.png) no-repeat -200px 0; overflow: hidden; outline: none;}
ul.li-select-menu li.btn47 a:hover, ul.li-select-menu li.btn47 a.current { background-position: -200px -30px; }
/* 住所録 */
ul.li-select-menu li.btn48 a{ width: 100px; height: 30px; background: url(../../per_images/btn_tab/nav_mypage.png) no-repeat -300px 0; overflow: hidden; outline: none;}
ul.li-select-menu li.btn48 a:hover, ul.li-select-menu li.btn48 a.current { background-position: -300px -30px}
/* おすすめレビュー */
ul.li-select-menu li.btn49 a{ width: 100px; height: 30px; background: url(../../per_images/btn_tab/nav_mypage.png) no-repeat -400px 0; overflow: hidden; outline: none;}
ul.li-select-menu li.btn49 a:hover, ul.li-select-menu li.btn49 a.current{ background-position: -400px -30px }

/* 会員情報の変更 */
ul.li-select-menu li.btn50 a{ width: 100px; height: 30px; background: url(../../per_images/btn_tab/nav_mypage.png) no-repeat -500px 0; overflow: hidden; outline: none;}
ul.li-select-menu li.btn50 a:hover, ul.li-select-menu li.btn50 a.current{ background-position: -500px -30px }
/* パスワードの変更 */
ul.li-select-menu li.btn51 a{ width: 100px; height: 30px; background: url(../../per_images/btn_tab/nav_mypage.png) no-repeat -600px 0; overflow: hidden; outline: none;}
ul.li-select-menu li.btn51 a:hover, ul.li-select-menu li.btn51 a.current{ background-position: -600px -30px }
/* ご登録メールアドレスの変更 */
ul.li-select-menu li.btn52 a{ width: 110px; height: 30px; background: url(../../per_images/btn_tab/nav_mypage.png) no-repeat -700px 0; overflow: hidden; outline: none;}
ul.li-select-menu li.btn52 a:hover, ul.li-select-menu li.btn52 a.current{ background-position: -700px -30px }



div.cart-order {
	overflow: hidden;
	width: 700px; height: 30px;
	background: url(per_images/bar/sud/bar_title100.gif) no-repeat;
}
div.cart-order h1.cart-order-day{
	float: left;
	text-indent:0;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	padding-left: 10px; padding-top: 5px;
}
div.cart-order h2.cart-order-detail{
	float: right;
	text-indent: -9999px;
}
