
@charset "UTF-8";


/* HEADER						##################################### */

table{
    width: 100%;
    border-collapse: collapse;
    /*border-collapse: separate;*/
    border-spacing: 0;
    border-width: 0;
    /*border-width: 1px 0;*/
}



table.tb-format-cart {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        border-width: 1px 0;
}

table th a{
    color: #666;
}

th{
    font-family: Helvetica, Verdana, Arial, "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}

table.tblInformation th,
table.tblInformation2 th,{
    vertical-align: middle;
}

table.tblInformation th.cell-subtitle,
table.tblInformation2 th.cell-subtitle{
    width: 145px;
}

table.tblInformation td {width: 700px; }
table.tblInformation2 td {width: 480px; }


/* cell width */
th.cell-w1, td.cell-w1{ width: 50px }
th.cell-w2, td.cell-w2{ width: 100px }
th.cell-w3, td.cell-w3{ width: 150px }
th.cell-w4, td.cell-w4{ width: 200px }
th.cell-w5, td.cell-w5{ width: 220px }
th.cell-w6, td.cell-w6{ width: 180px }
th.cell-w7, td.cell-w7{ width: 840px }
th.cell-w8, td.cell-w8{ width: 75px }
th.cell-w9, td.cell-w9{ width: 55px }
th.cell-w10, td.cell-w10{ width: 50px }
th.cell-w11, td.cell-w11{ width: 105px }
th.cell-w12, td.cell-w12{ width: 80px }

.cell-outline-title {
    padding:3px 8px;
    background: #666;
    border: solid #333;
    color: #fff;
    border-width: 0 1px 0 0;
    font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    text-align: center;
}



.cell-outline-val {
    text-align: left;
    vertical-align: middle;
    background: #fff;
    border-bottom: 1px solid #808080;
    padding: 10px 10px 10px 0;
    }

.cell-outline-val2 {
    text-align:center;
    vertical-align: middle;
    background: #fff;
    border-bottom: 1px solid #808080;
    font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    padding: 20px 0;
    }

.cell-outline-val3 { text-align:center; vertical-align: middle;  background: #fff; border-bottom: 1px solid #808080; font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif; padding: 20px 0; }


/* CHANGE2010/03/19 */
.cell-listmark,
.cell-listmark2,
.cell-listmark3,
.cell-listmark4,
.cell-subtitle,
.cell-subtitle2{
    padding: 15px 10px 15px 20px;
    background: #d9d9d9 url(../../per_images/bg_frame_line/line09.gif) repeat-x left bottom;
    vertical-align: middle;
    font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    font-weight: bold;
    font-size: 11px;
}



.cell-listmark2{
    background: #fff;
    color: #000;
    font-weight: bold;
}

.cell-listmark3{
    padding: 15px 0 15px 0;
    border-bottom: none;
    background-image: none;
    background-color: #fff;
}

.cell-listmark4{
    padding: 15px 10px 15px 0;
    border-bottom: none;
    background: #fff;
}

.cell-subtitle2{
    background: #fff;
    color: #000;
}
hr.tb-split{
    margin: 0;
    color: #000; background: #000;
    width: 650px;
}



.cell-listmark-req,
.cell-subtitle-req{
    position: relative;
    padding: 15px 15px 15px 20px;
    background: #d9d9d9 url(../../per_images/bg_frame_line/line09.gif) repeat-x left bottom;
    vertical-align: middle;
    font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    font-weight: bold;
}

.cell-border{
    border-bottom: 1px solid #808080;
}

.cell-no-border{
    background-image: none;
}

.cell-subtitle{
    border-left: 2px solid #cbd8d8;
}

.cell-subtitle-req{
    border-left: 2px solid #fff;
    width: 125px;
}

.cell-subtitle-val{ padding:10px; }
.cell-subtitle-base{
    padding:10px;
    font-size: 11px;
}
.cell-r-end { border-right: 0 }

.cell-outline-title2 { padding:3px 8px; background: #666; border: solid #fff; color: #fff; text-align:center; border-width: 0 1px 0 0; font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif; }

.cell-outline-title3 {
    padding:6px 8px;
    background: #666;
    border: solid #333;
    color: #fff;
    border-width: 0 1px 0 0;
    font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    text-align: center;
}

.cell-subtitle-val .notice{ font-size: 92%; }

.cell-subtitle-val  p.notice{
    margin-top: 5px;
    font-size: 92%;
}

span.font-10px{
    font-size: 10px;
}

/*////////////////////////////
nav
////////////////////////////*/
#menu-mypage{
    overflow: hidden;
    zoom: 1;
    clear: both;
}

#menu-mypage li{
    width: 135px;
    height: 30px;
    float: left;
    margin-right: 1px;
}

#menu-mypage li.first{
    width: 141px;
}

#menu-mypage li a{
    display: block;
    width: 135px;
    height: 30px;
    background: url(../../per_images/btn_tab/nav_mypage2.png) 0 0 no-repeat #000;
    text-indent: -99999px;
    font-size: 1px;
}

#menu-mypage li.first a{
    width: 141px;
}

#menu-mypage li a.top{ background: url(../../per_images/btn_tab/nav_mypage2.png) 0 -60px no-repeat #000; }
#menu-mypage li a.account{ background: url(../../per_images/btn_tab/nav_mypage2.png) -145px -60px no-repeat #000; }
#menu-mypage li a.address{ background: url(../../per_images/btn_tab/nav_mypage2.png) -275px -60px no-repeat #000; }
#menu-mypage li a.history{ background: url(../../per_images/btn_tab/nav_mypage2.png) -415px -60px no-repeat #000; }
#menu-mypage li a.mail{ background: url(../../per_images/btn_tab/nav_mypage2.png) -555px -60px no-repeat #000; }
#menu-mypage li a.password{ background: url(../../per_images/btn_tab/nav_mypage2.png) -690px -60px no-repeat #000; }
#menu-mypage li a.remove{ background: url(../../per_images/btn_tab/nav_mypage2.png) -825px -60px no-repeat #000; }

#menu-mypage li a.top:hover{ background: url(../../per_images/btn_tab/nav_mypage2.png) 0 -30px no-repeat #000; }
#menu-mypage li a.account:hover{ background: url(../../per_images/btn_tab/nav_mypage2.png) -145px -30px no-repeat #000; }
#menu-mypage li a.address:hover{ background: url(../../per_images/btn_tab/nav_mypage2.png) -275px -30px no-repeat #000; }
#menu-mypage li a.history:hover{ background: url(../../per_images/btn_tab/nav_mypage2.png) -415px -30px no-repeat #000; }
#menu-mypage li a.mail:hover{ background: url(../../per_images/btn_tab/nav_mypage2.png) -555px -30px no-repeat #000; }
#menu-mypage li a.password:hover{ background: url(../../per_images/btn_tab/nav_mypage2.png) -690px -30px no-repeat #000; }
#menu-mypage li a.remove:hover{ background: url(../../per_images/btn_tab/nav_mypage2.png) -825px -30px no-repeat #000; }

#menu-mypage li.current a.top{ background: url(../../per_images/btn_tab/nav_mypage2.png) 0 0 no-repeat #000; }
#menu-mypage li.current a.account{ background: url(../../per_images/btn_tab/nav_mypage2.png) -145px 0 no-repeat #000; }
#menu-mypage li.current a.address{ background: url(../../per_images/btn_tab/nav_mypage2.png) -275px 0 no-repeat #000; }
#menu-mypage li.current a.history{ background: url(../../per_images/btn_tab/nav_mypage2.png) -415px 0 no-repeat #000; }
#menu-mypage li.current a.mail{ background: url(../../per_images/btn_tab/nav_mypage2.png) -555px 0 no-repeat #000; }
#menu-mypage li.current a.password{ background: url(../../per_images/btn_tab/nav_mypage2.png) -690px 0 no-repeat #000; }
#menu-mypage li.current a.remove{ background: url(../../per_images/btn_tab/nav_mypage2.png) -825px 0 no-repeat #000; }

/*////////////////////////////
カート
////////////////////////////*/

/* box-center */
div.box-center{
    margin: 0 auto;
    width: 206px
}
/* box-center136 */
div.box-center136{
    margin: 0 auto;
    width: 136px
}

/*////////////////////////////
マイページ　41.html
////////////////////////////*/
/* ご注文内容 */
/* td.cart-address-nickname { width: 125px;} */
/* td.cart-address-name { width: 150px; } */
/* td.cart-address-tel { width: 85px; } */
/* td.cart-address-btn { width: 100px; } */

td.cart-address-address{
    text-align: left;
}

/* ul-address */
ul.ul-address{
    clear: both;
    overflow: hidden;
    margin: 0 auto;
    width: 150px;
}
    ul.ul-address li{
        float: left; display: inline;
        margin-right: 10px;
        overflow: hidden;
    }

    ul.ul-address li.end{
        margin-right: 0;
    }

/*////////////////////////////
マイページ　26.html
////////////////////////////*/

/* box-mypage */
div.box-mypage{
    overflow: hidden;
    margin-bottom: 20px;
    height: 295px;
}
    div.box-mypage div.box-mypage-left{
        float: left; display: inline;
        width: 499px;
    }
    div.box-mypage div.box-mypage-right{
        float: right; display: inline;
        width: 380px;
    }

        div.box-mypage-right div#textlink-mypage{
            margin: 5px auto 10px auto;
            text-align: right;
        }

/* menu-mypage01 menu-mypage02 */
div#col-left div.box-st{
    float: left;
    margin-right: 5px;
}

ul#menu-mypage01,
ul#menu-mypage02{
    margin-right: 5px;
    float: left;
    overflow: hidden;
}

ul#menu-mypage01 li,
ul#menu-mypage02 li{
    margin-right: 1px;
    float: left;
}

/* box-baloon */
div.box-baloon{
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #000;
}
    div.box-baloon div.inner{
    }
    div.box-baloon h4{
        margin-bottom: 10px;
        font-weight: bold;
    }
    div.box-baloon p{
        line-height: 1.5;
    }
    div.box-baloon div.bottom{
    }

/*////////////////////////////
カート　13.html
////////////////////////////*/
/* ご注文内容 */
td.img-cart-goods2{

    border-right: none;
}

td.name-cart-goods2{
    width: 500px;
    text-align: left;
}

td.price-cart-goods2{
    width: 90px;
}

td.quantity-cart-goods2{
    width: 60px;
}

div.line-cart-no{
    clear: both;
    margin: 10px 0 ;
    width: 100%; height: 3px;
}

/* box-notice-cart */
div#box-notice-cart2{
    float: left;
    width: 550px;
}
div#box-price-cart2{
    float: right;
    width: 250px;
}

    div#box-price-cart2 dl{
        width: 100%	;
        overflow: hidden;
    }
        div#box-price-cart2 dl dt{
            float: left;
            margin-bottom: 10px;
            padding: 2px 5px;
            width: 78px; height: 15px;
            background: url(../../per_images/bg_frame_line/line02.gif) left bottom repeat-x;
            font-size: 12px;
        }

        div#box-price-cart2 dl dd{
            float: right;
            margin-bottom: 10px;
            padding: 2px 5px;
            width: 152px; height: 15px;
            background: url(../../per_images/bg_frame_line/line02.gif) left bottom repeat-x;
            text-align: right;
            font-size: 12px;
        }

.box-center2{
    text-align: center;
    margin-bottom: 10px;
    }
.box-center960{
    text-align: center;
    margin-bottom: 10px;
    width:960px;
    }

.box-rigth2{
    position: relative;
    top: -8px;
    left: 815px;
    width: 80px;
    }


/*////////////////////////////
カート　44.html
////////////////////////////*/
/* ご注文内容 */
td.img-cart-goods3{

    border-right: none;
}

td.name-cart-goods3{
    width: 300px;
    text-align: left;
}


td.price-cart-goods3{
    width: 90px;
}

td.quantity-cart-goods3{
    width: 60px;
}

div.line-cart-no{
    clear: both;
    margin: 10px 0 ;
    width: 100%; height: 3px;
}


/* box-notice-cart */
div#box-notice-cart3{
    float: left;
    width: 400px;
}
div#box-price-cart3{
    float: right;
    width: 250px;
}

    div#box-price-cart3 dl{
        width: 100%	;
        overflow: hidden;
    }
        div#box-price-cart3 dl dt{
            float: left;
            margin-bottom: 10px;
            padding: 2px 5px;
            width: 78px; height: 15px;
            background: url(../../per_images/bg_frame_line/line02.gif) left bottom repeat-x;
            font-size: 12px;
        }

        div#box-price-cart3 dl dd{
            float: right;
            margin-bottom: 10px;
            padding: 2px 5px;
            width: 152px; height: 15px;
            background: url(../../per_images/bg_frame_line/line02.gif) left bottom repeat-x;
            text-align: right;
            font-size: 12px;
        }

div#box-notice-cart4{
    float: left;
    width: 700px;
}

.btn-right2 {
    float:right;
    margin: 5px 5px 0 0;
}
.txt-bold01{
    font-weight: bold;
    color: #FF0000;
}


/*////////////////////////////
カート　06、18、19、19b.html
////////////////////////////*/

/* boxx-terms */
div#boxx-terms{
    margin-bottom: 10px;
    overflow: hidden;
    margin: 20px 0;
}

div#frame-terms{
    height: 130px;
    overflow: auto;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}

div#frame-terms .section{
    margin-bottom: 1em;
}

div#frame-terms h3{
    font-weight: bold;
    text-decoration: underline;
}

div#frame-terms h4{
    font-weight: bold;
    margin-top: 0.5em;
}

/* boxx-login */
div#boxx-login{
    overflow: hidden;
}
    /* member-login */
    div#boxx-login div#member-login{
        line-height: 1.5;
        float: left;
        width: 460px;
    }
        div#member-login h3{
                display: block;
                width: 458px; height: 40px;
                background: url(../../per_images/c06/ttl_member_login.gif) left top no-repeat;
                text-indent: -9999px;
            }
        div#member-login div#member-login-in {
        }
            div#member-login-in ul{
                margin: 10px 0 15px 0;
                list-style: none;
                }
                div#member-login-in ul li{
                    margin-bottom: 8px;
                    font-size: 10px;
                }
                    div#label-email {
                        margin-bottom: 5px;
                        background: url(../../per_images/c06/label_email.gif) left center no-repeat;
                        text-indent: -9999px;
                    }
                    div#label-password {
                        margin-bottom: 5px;
                        background: url(../../per_images/c06/label_password.gif) left center no-repeat;
                        text-indent: -9999px;
                    }
                    input#email, input#password {
                        width: 18em;
                    }
            div#member-login-in div#btn-login a.btn07{
                float: left;
            }
            div#member-login-in div#btn-login p{
                width: 285px;
                float: left;
                line-height: 36px;
                margin-left: 20px;
            }
            div#member-login-in div#forget-password{
                float: left;
                margin: 10px 0 0 10px;
                width: 256px;
            }
            div#member-login-in div.line-login{
                clear: both;
                margin-bottom: 10px;
                height: 1px;
                background: url(../../per_images/bg_frame_line/line02.gif) left top repeat-x;
            }

    /* member2-login */
    div#boxx-login div#member2-login{
        margin: 10px auto;
        width: 460px; height: 355px;
        border: 1px solid #000;
    }
        div#member2-login h3{
                display: block;
                width: 460px; height: 42px;
                background: url(../../per_images/c06/ttl_member_login.gif) left top no-repeat;
                text-indent: -9999px;
            }
        div#member2-login div#member-login-in {
            padding: 8px 15px 13px 15px;
            width: 430px;  height: 292px;
        }

    /* new2-login */
    div#boxx-login div#new2-login{
        margin: 20px 0;
    }
        div#new2-login h3{
                margin-bottom: 5px;
            }
            div#new2-login h3:first-letter{
            }
        div#new2-login div#new2-login-in {
        }
            div#new2-login-in ul{
                margin: 10px 0 15px 0;
                list-style: none;
                }
                div#new2-login-in ul li{
                    margin-bottom: 8px;
                    font-size: 10px;
                }
                    div#label-temporary {
                        margin-bottom: 5px;
                        background: url(../../per_images/c06/label_temporary.gif) left center no-repeat;
                        text-indent: -9999px;
                    }
                    input#temporary, input#confirm-temporary {
                        width: 30em;
                    }
                    span.note{
                        color: #cc0066;
                    }
    table.tblMailaddressCheck{
        margin-bottom: 20px;
    }

    table.tblMailaddressCheck th{
        width: 130px;
        font-weight: bold;
        font-family: Helvetica, Verdana, Arial, "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
    }


    /*table.tblMailaddressCheck th{
        width: 180px;
        background: #000;
        color: #fff;
        vertical-align: middle;
        padding: 5px;
        text-align: center;
        font-weight: normal;
        font-family: Helvetica, Verdana, Arial, "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
    }*/

    table.tblMailaddressCheck td{
        padding: 5px 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 130%;
    }

    /* clubon2-login */
    div#boxx-login div#clubon2-login{
        margin: 10px auto;
        width: 900px; height: 181px;
    }
        div#clubon2-login h3{
                display: none;
                width: 900px; height: 42px;
                background: url(../../per_images/c06/ttl_clubon2_login.gif) left top no-repeat;
                text-indent: -9999px;
            }
        div#clubon2-login div#clubon2-login-in {
            padding: 8px 15px 13px 15px;
            width: 866px;  height: 162px;
            border: 1px solid #000;
            margin: 0 auto;
        }
            div#clubon2-login-in ul{
                margin: 25px 0 25px 0;
                list-style: none;
                }
                div#clubon2-login-in ul li{
                    margin-bottom: 20px;
                    font-size: 10px;
                    overflow: hidden;
                }
                    div#label-email2 {
                        float: left;
                        width: 110px;
                        margin-bottom: 5px;
                        background: url(../../per_images/c06/label_email.gif) right center no-repeat;
                        text-indent: -9999px;
                    }
                    div#label-password2 {
                        float: left;
                        width: 110px;
                        margin-bottom: 5px;
                        background: url(../../per_images/c06/label_password.gif) right center no-repeat;
                        text-indent: -9999px;
                    }
                    input#email2, input#password2 {
                        float: left;
                        margin-left: 10px;
                        width: 21em;
                    }
                    div.example{
                        float: left;
                        margin-left: 10px;
                    }
            div#clubon2-login-in div#btn-send{
                margin-left: 125px;
            }

    /* millenium2-login */
    div#boxx-login div#millenium2-login{
        margin: 10px 0;
        width: 898px; height: 223px;
        border: 1px solid #000;
    }
        div#millenium2-login h3{
                display: block;
                width: 840px; height: 40px;
                background: url(../../per_images/c06/ttl_millenium_login.gif) left top no-repeat;
                text-indent: -9999px;
            }
        div#millenium2-login div#millenium2-login-in {
            padding: 8px 15px 13px 15px;
            width: 860px;  height: 162px;
        }
            div#millenium2-login-in ul{
                margin: 25px 0 25px 0;
                list-style: none;
                }
                div#millenium2-login-in ul li{
                    margin-bottom: 20px;
                    font-size: 10px;
                    overflow: hidden;
                }
                    div#label-email2 {
                        float: left;
                        width: 110px;
                        margin-bottom: 5px;
                        background: url(../../per_images/c06/label_email.gif) right center no-repeat;
                        text-indent: -9999px;
                    }
                    div#label-password2 {
                        float: left;
                        width: 110px;
                        margin-bottom: 5px;
                        background: url(../../per_images/c06/label_password.gif) right center no-repeat;
                        text-indent: -9999px;
                    }
                    input#email2, input#password2 {
                        float: left;
                        margin-left: 10px;
                        width: 21em;
                    }
                    div.example{
                        float: left;
                        margin-left: 10px;
                    }
            div#millenium2-login-in div#btn-send{
                margin-left: 125px;
            }

    /* select-login */
    div#boxx-login div#select-login{
        line-height: 1.5;
        float: right;
        width: 460px;
    }
        /* new-login */
        div#select-login div#new-login{
        }
            div#new-login h3{
                display: block;
                width: 418px; height: 50px;
                background: url(../../per_images/c06/ttl_new_login.gif) left top no-repeat;
                text-indent: -9999px;
                margin-bottom: 20px;
            }
            div#new-login div#new-login-in a.btn{
                margin: 20px 0;
            }
                div#new-login div#new-login-in div.text-login{
                    margin-bottom: 20px;
                }

        /* new-login2 */
        div#select-login div#new-login2{
            width: 418px; height: 183px;
            border: 1px solid #000;
        }
            div#new-login2 h3{
                display: block;
                width: 418px; height: 40px;
                background: url(../../per_images/c06/ttl_new_login.gif) left top no-repeat;
                text-indent: -9999px;
            }
            div#new-login2 div#new-login-in{
                padding: 6px 15px 13px 15px;
                width: 390px; height: 122px;
            }

        /* guest-login */
        div#select-login div#guest-login{
            margin-top: 15px;
            width: 418px; height: 153px;
            border: 1px solid #000;
        }
            div#guest-login h3{
                display: block;
                width: 418px; height: 40px;
                background: url(../../per_images/c06/ttl_guest_login.gif) left top no-repeat;
                text-indent: -9999px;
            }
            div#guest-login div#guest-login-in{
                padding: 8px 15px 13px 15px;
                width: 390px; height: 92px;
            }
            p.link-icon{
                padding-left: 10px;
                background:url(../../per_images/icon/arrow.gif) left center no-repeat;
            }
            p.link-icon a{
                overflow: hidden;
                outline: none;
            }
        /* clubon-login */
        div#select-login div#clubon-login{
            width: 418px; height: 143px;
            border: 1px solid #000;
        }
            div#clubon-login h3{
                display: block;
                width: 418px; height: 40px;
                background: url(../../per_images/c06/ttl_clubon_login.gif) left top no-repeat;
                text-indent: -9999px;
            }
            div#clubon-login div#clubon-login-in{
                padding: 8px 15px 13px 15px;
                width: 390px; height: 72px;
            }

        /* millenium-login */
        div#select-login div#millenium-login{
            margin-top: 15px;
            width: 418px; height: 143px;
            border: 1px solid #000;
        }
            div#millenium-login h3{
                display: block;
                width: 418px; height: 40px;
                background: url(../../per_images/c06/ttl_millenium_login.gif) left top no-repeat;
                text-indent: -9999px;
            }
            div#millenium-login div#millenium-login-in{
                padding: 8px 15px 13px 15px;
                width: 390px; height: 72px;
            }



            div.text-login{
                margin-bottom:5px;
            }
            p.s-top15{
                margin-top: 15px;
            }


/*////////////////////////////
カート　05、36、37、38.html
////////////////////////////*/
/* ご注文内容 */
td.img-cart-goods{
    width: 60px;
    border-right: none;
    padding:10px;
}
td.name-cart-goods{
    width: 305px;
    text-align: left;
}
td.name-cart-goods3{
    width: 260px;
    text-align: left;
    font-weight: bold;
}
td.name-cart-goods4{
    width: 470px;
    text-align: left;
    font-weight: bold;
}
td.price-cart-goods{
    width: 80px;
}
td.price-cart-goods3{
    width: 100px;
}
td.quantity-cart-goods{
    width: 50px;
}
td.subtotal-cart-goods{
    width: 80px;
}
td.cancel-cart-goods{
    width: 60px;
}
td.favorite-cart-goods{
    width: 120px;
}
td.status-cart-goods{
    width: 120px;
}
    td.status-cart-goods a.btn26{
        margin: 0 auto;
    }
td.remark-cart-goods{
    width: 340px;
    overflow: hidden;
}
    td.remark-cart-goods a{
        display: block;
        float: left;
        margin-right: 3px;
        height: 20px;
    }
        td.remark-cart-goods a.btn24{
            width: 80px;
        }
        td.remark-cart-goods a.btn25{
            width: 120px;
        }
        td.remark-cart-goods a.btn33{
            width: 60px;
        }


/* box-notice-cart4 */
div#box-price-cart4{
    float: right;
    width: 300px;
}
    div#box-price-cart4 dl{
        width: 100%	;
        overflow: hidden;
        zoom: 1;
        margin-bottom: 30px;
    }
        div#box-price-cart4 dl dt{
            float: left;
            display: inline;
            padding: 10px 0 2px 0;
            width: 100px; height: 15px;
            font-weight: normal;
            border-bottom: 1px solid #999;
            font-weight: bold;
        }
        div#box-price-cart4 dl dd{
            float: left;
            display: inline;
            padding: 10px 0 2px 0;
            width: 200px; height: 15px;
            text-align: right;
            border-bottom: 1px solid #999;
            font-weight: bold;
        }

        /*ポイント領域*/
        div#box-price-cart4 dl dt.point-now {}
        div#box-price-cart4 dl dd.point-now {}
        div#box-price-cart4 dl dt.point-use	{ width: 130px; height: 65px; border-bottom: none;}
        div#box-price-cart4 dl dd.point-use	{ width: 170px; height: 65px; text-align: left; border-bottom: none;}



/* box-notice-cart */
div#box-notice-cart{
    float: left;
    width: 550px;
}
div#box-price-cart{
    float: right;
    width: 260px;
    background-color: #e5e5e5;
    padding-bottom: 10px;
}
    div#box-price-cart dl{
        width: 100%	;
        overflow: hidden;
        zoom: 1;
        padding-bottom: 10px;
        /*border-bottom: 1px solid #999;*/
    }
        div#box-price-cart dl dt{
            float: left;
            display: inline;
            padding: 10px 0 2px 0;
            margin-left: 5px;
            width: 112px; height: 15px;
            font-weight: normal;
            border-bottom: 1px solid #999;
            font-weight: bold;
        }
        div#box-price-cart dl dd{
            float: left;
            display: inline;
            padding: 10px 0 2px 0;
            width: 138px; height: 15px;
            text-align: right;
            border-bottom: 1px solid #999;
            font-weight: bold;
        }
div.line-cart{
    clear: both;
    margin: 20px 0 ;
    width: 100%; height: 1px;
    border-bottom: 1px solid #000;
}
        div.s-top5{
            margin-top : 5px;
        }

/* 最近チェックした商品 */
div.box-6item{
    clear: both;
    margin-bottom: 20px;
    position: relative;
    margin-top: 80px;
}
    div.box-6item p.prev a{
        display: block;
        text-indent: -9999px;
        width: 15px;
        height: 30px;
        background: url(../../per_images/btn_tab/btn_prev.gif) 0 0 no-repeat;
        position: absolute;
        left: 0;
        top: 80px;
    }
    div.box-6item p.prev a:hover{
        background: url(../../per_images/btn_tab/btn_prev.gif) 0 -30px no-repeat;
    }
    div.box-6item p.next a{
        display: block;
        text-indent: -9999px;
        width: 15px;
        height: 30px;
        background: url(../../per_images/btn_tab/btn_next.gif) 0 0 no-repeat;
        position: absolute;
        right: 0;
        top: 80px;
    }
    div.box-6item p.next a:hover{
        background: url(../../per_images/btn_tab/btn_next.gif) 0 -30px no-repeat;
    }

    div.box-6item ul {
        overflow: hidden;
        clear: both;
        font-size: 85%;
        width: 850px;
        margin: 0 auto;
        zoom: 1;
    }
    div.box-6item ul li{
        float: left;
        width: 150px;
        text-align: center;
        margin: 0 10px;
        color: #666;
        display: inline;
    }
    div.box-6item ul li a{
        overflow: hidden;
        outline: none;
    }
    div.box-6item ul li.end {
        margin: 0;
    }
    div.box-6item ul li  img.thumb {
        border: 0;
        width: 130px;
        margin-bottom: 10px;
    }
    div.box-6item h3{
        margin-bottom: 5px;
        width: 900px; height:34px;
        text-indent: -9999px;
        background: repeat-x 0 0;
    }
    div.box-6item h3.h-checkitem{
        overflow: hidden;
        background: url(../../per_images/bar/bar_history_item.gif) 0 0 no-repeat;
    }
    div.box-6item h3.h-checkitem span{
        text-indent: -9999px;
        display: none;
    }
    div.box-6item h3.h-checkitem p.btn06{
        display: block;
        float: right;
        margin-top: 10px;
        width: 90px; height: 16px;
    }
        h3.h-checkitem p.btn06 .btn-right{
            float: right;
        }
        h3.h-checkitem p.btn06 a{
            display: block;
            width: 90px; height: 16px;
            background: url(../../per_images/btn_tab/btn06.gif) left top no-repeat;
        }
        h3.h-checkitem p.btn06 a:hover{
            background-position: bottom;
        }
    div.box-6item h3.h-recommenditem{
        background-image: url(../../per_images/bar/bar_osusume_item.jpg);
    }
        div.s-top5{
            margin-top : 5px;
        }

/* おすすめレビューコメント */
.box-attention2{
    color: #cc0066;
    font-weight: normal;
}
input#comment-recommend{
    width: 100%;
    height: 60px;
    overflow: auto;
}
#box-guideline-recommend{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 12px;
    line-height: 1.2;
    overflow: hidden;
    border: 1px solid #000;
}



/*////////////////////////////
登録　22.html
////////////////////////////*/
.box-center2 ul{
    margin: 0 auto;
    width: 362px;
}
    .box-center2 ul{
        list-style: none;
        overflow: hidden;
    }
        .box-center2 ul li{
            float: left;
        }
            .box-center2 ul li a.btn28{
            margin-right: 20px;
        }
/*////////////////////////////
登録　kiyaku.html
////////////////////////////*/
.box-center3 ul{
    margin: 0 auto;
    width: 362px;
}
    .box-center3 ul{
        overflow: hidden;
    }
        .box-center3 ul li{
            float: left;
        }
            .box-center3 ul li a.btn28{
            margin-right: 20px;
        }

/*////////////////////////////
wish list
////////////////////////////*/

ul.wishList{
    overflow: hidden;
    zoom: 1;
}

ul.wishList li{
    width: 220px;
    float: left;
    margin: 20px 10px;
    display: inline;
}

ul.wishList li .brand{
    margin: 10px 5px 0;
    font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

ul.wishList li .name{
    margin: 0 5px;
    font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

ul.wishList li .price{
    margin: 0 5px;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

ul.wishList li .price span{
    font-size: 85%;
    margin-left: 5px;
    font-weight: normal;
}

ul.wishList li .group{
    margin: 0 5px;
    text-align: center;
}

ul.wishList li .group p.addtocart{
    float: left;
}

ul.wishList li .group p.delete{
    float: right;
}
li.wishList {
    width: 220px;
    float: left;
    margin: 20px 10px;
    display: inline;
}
li.wishList img.itemImg{
    margin: 0px 23px;
}
li.wishList a{
    text-decoration: none;
}





/* border bottom */
.box-decoration-border,
.box-decoration-border2,
.box-decoration-border3,
.box-decoration-border960 {
    border-bottom: 1px solid #808080;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.box-decoration-border2 { padding: 0; }
.box-decoration-border3 {}
.box-decoration-border960 { width:960px; }





.order-status-box {
    width: 960px;
    overflow: hidden;
    margin-bottom: 25px;
}

.order-col-left {	float: left; width: 700px; }
.order-col-right { float: right; width: 260px; }

.box-float-left { float:left; width: 48%; }
.box-float-right { float:right; width: 48%; }




/*////////////////////////////
mypg-col-left
////////////////////////////*/

.mypg-col-left{
    float: left;
    overflow: hidden;
    width: 700px
}

.ul-wish-list{
    overflow: hidden;
    width: 720px;
    margin-bottom: 40px;
}

.li-wish-list{
    float: left;
    width: 160px;
    margin-right: 20px;
}

.ul-btn-cart {
    width: 160px;
    overflow: hidden;
}

.btn-cart-addtocart { display: block; float: left; width: 80px; margin-right: 5px;}
.btn-cart-delate { display: block; float: left; width: 50px;}


/*////////////////////////////
mypg-col-right
////////////////////////////*/

/* menu */
.mypg-col-right{
    float: right;
    overflow: hidden;
    width: 240px;
    color: #fff;
}

.col-right-menu,
.col-right-cart,
.col-right-contact,
.col-right-other{
    overflow: hidden;
    background: #000;
    width: 210px;
    padding: 15px;
    border-bottom: 1px solid #fff;
}

.box-right-menu{
    position:relative;
    width:210px;	height:100px;
    padding:0; margin:0;
}

.box-right-menu li a{
    position:absolute;
    display:block;
    width:105px; height:25px;
    text-indent: -9999px;
}

li.menu-btn01 a{top:0; left:0; background: url(../../images/member/mypage_right_menu.gif) 0 0 no-repeat;}
li.menu-btn02 a{top:0;left:105px; background: url(../../images/member/mypage_right_menu.gif) -105px 0 no-repeat;}
li.menu-btn03 a{top:25px;left:0; background: url(../../images/member/mypage_right_menu.gif) 0 -25px no-repeat;}
li.menu-btn04 a{top:25px;left:105px; background: url(../../images/member/mypage_right_menu.gif) -105px -25px no-repeat;}
li.menu-btn05 a{top:50px;left:0; background: url(../../images/member/mypage_right_menu.gif) 0 -50px no-repeat;}
li.menu-btn06 a{top:50px;left:105px; background: url(../../images/member/mypage_right_menu.gif) -105px -50px no-repeat;}
li.menu-btn07 a{top:75px;left:0; background: url(../../images/member/mypage_right_menu.gif) 0 -75px no-repeat;}
li.menu-btn08 a{top:75px;left:105px; background: url(../../images/member/mypage_right_menu.gif) -105px -75px no-repeat;}
li.menu-btn01 a:hover{background-position: 0 -100px;}
li.menu-btn02 a:hover{background-position: -105px -100px;}
li.menu-btn03 a:hover{background-position: 0 -125px;}
li.menu-btn04 a:hover{background-position: -105px -125px;}
li.menu-btn05 a:hover{background-position: 0 -150px;}
li.menu-btn06 a:hover{background-position: -105px -150px;}
li.menu-btn07 a:hover{background-position: 0 -175px;}
li.menu-btn08 a:hover{background-position: -105px -175px;}

/** メニューボタン 英語 */
li.menu-btn01-en a{top:0; left:0; background: url(../../images/member/mypage_right_menu_en.gif) 0 0 no-repeat;}
li.menu-btn02-en a{top:0;left:105px; background: url(../../images/member/mypage_right_menu_en.gif) -105px 0 no-repeat;}
li.menu-btn03-en a{top:25px;left:0; background: url(../../images/member/mypage_right_menu_en.gif) 0 -25px no-repeat;}
li.menu-btn04-en a{top:25px;left:105px; background: url(../../images/member/mypage_right_menu_en.gif) -105px -25px no-repeat;}
li.menu-btn05-en a{top:50px;left:0; background: url(../../images/member/mypage_right_menu_en.gif) 0 -50px no-repeat;}
li.menu-btn06-en a{top:50px;left:105px; background: url(../../images/member/mypage_right_menu_en.gif) -105px -50px no-repeat;}
li.menu-btn07-en a{top:75px;left:0; background: url(../../images/member/mypage_right_menu_en.gif) 0 -75px no-repeat;}
li.menu-btn08-en a{top:75px;left:105px; background: url(../../images/member/mypage_right_menu_en.gif) -105px -75px no-repeat;}
li.menu-btn01-en a:hover{background-position: 0 -100px;}
li.menu-btn02-en a:hover{background-position: -105px -100px;}
li.menu-btn03-en a:hover{background-position: 0 -125px;}
li.menu-btn04-en a:hover{background-position: -105px -125px;}
li.menu-btn05-en a:hover{background-position: 0 -150px;}
li.menu-btn06-en a:hover{background-position: -105px -150px;}
li.menu-btn07-en a:hover{background-position: 0 -175px;}
li.menu-btn08-en a:hover{background-position: -105px -175px;}

/** メニューボタン 中国語 */
li.menu-btn01-zh a{top:0; left:0; background: url(../../images/member/mypage_right_menu_zh.gif) 0 0 no-repeat;}
li.menu-btn02-zh a{top:0;left:105px; background: url(../../images/member/mypage_right_menu_zh.gif) -105px 0 no-repeat;}
li.menu-btn03-zh a{top:25px;left:0; background: url(../../images/member/mypage_right_menu_zh.gif) 0 -25px no-repeat;}
li.menu-btn04-zh a{top:25px;left:105px; background: url(../../images/member/mypage_right_menu_zh.gif) -105px -25px no-repeat;}
li.menu-btn05-zh a{top:50px;left:0; background: url(../../images/member/mypage_right_menu_zh.gif) 0 -50px no-repeat;}
li.menu-btn06-zh a{top:50px;left:105px; background: url(../../images/member/mypage_right_menu_zh.gif) -105px -50px no-repeat;}
li.menu-btn07-zh a{top:75px;left:0; background: url(../../images/member/mypage_right_menu_zh.gif) 0 -75px no-repeat;}
li.menu-btn08-zh a{top:75px;left:105px; background: url(../../images/member/mypage_right_menu_zh.gif) -105px -75px no-repeat;}
li.menu-btn01-zh a:hover{background-position: 0 -100px;}
li.menu-btn02-zh a:hover{background-position: -105px -100px;}
li.menu-btn03-zh a:hover{background-position: 0 -125px;}
li.menu-btn04-zh a:hover{background-position: -105px -125px;}
li.menu-btn05-zh a:hover{background-position: 0 -150px;}
li.menu-btn06-zh a:hover{background-position: -105px -150px;}
li.menu-btn07-zh a:hover{background-position: 0 -175px;}
li.menu-btn08-zh a:hover{background-position: -105px -175px;}

/* free area */
.mypg-col-right-free{
    margin: 10px 0;
    line-height: 1.5
}

/* free area */
.mypg-col-left-free{
    margin: 0  0 20px;
    line-height: 1.5
}

/* scroll area */
.scroll-area-01{
    height: 200px;
    overflow: auto;
    margin-bottom: 10px;
}
.scroll-area-02{
    margin-bottom: 10px;
}

/* total area */
.col-right-cart-total {
    overflow: hidden;
    width: 210px; height: 20px;
    margin: 20px 0 10px;
    background: url(../../images/member/mypage_right_menu_bg.gif) no-repeat;
}
.col-right-cart-total dt,
.col-right-cart-total dd{
    display: inline;
    float: left;
    font-weight: bold;
    font-size: 107%;
    width: 90px; height: 17px;
    padding: 3px 0 0 10px;
}
.col-right-cart-total dd {
    text-align: right;
    padding: 3px 10px 0 0 ;
    width: 100px;
}

/* gotocart btn */
.col-right-cart-gotocart {
    margin-bottom: 10px;
}

/* sendmail btn */
.col-right-cart-sendmail {
    margin: 10px 0;
}




.tb-format-cart2{
    width: 180px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    margin-bottom: 10px;
}

.tb-format-cart2 td{
    font-size: 85%;
}

.txt-right { text-align: right; }
.txt-left { text-align: left; }


/*住所録*/
.addressList {
    margin-bottom: 20px;
}


.mrg1 { margin: 5px 0 0; }
.mrg2 { margin: 10px 10px 10px 0; }

.font-ss { font-size: 77%; font-weight: normal;}
.font-s { font-size: 85%; font-weight: normal; }

