<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- ========================================================= -->
    <!--                                                           -->
    <!-- SERVICES						   			               -->
    <!--                                                           -->
    <!-- ========================================================= -->

    <!-- ======================= -->
    <!-- AUTHENTICATION          -->
    <!-- ======================= -->
    <bean id="authenticationService" class="org.april27.security.SecurityServiceImpl"/>

    <!-- ======================= -->
    <!-- HOME                    -->
    <!-- ======================= -->
    <bean id="homeService" class="org.april27.home.HomeServiceImpl">
        <!--<property name="homeDao" ref="employeeDao"/>-->
    </bean>

    <!-- ======================= -->
    <!-- EMPLOYEE                -->
    <!-- ======================= -->
    <bean id="employeeService" class="org.april27.employee.EmployeeServiceImpl">
        <property name="employeeDao" ref="employeeDao"/>
    </bean>
    <bean id="employeeDao" class="org.april27.employee.EmployeeDaoImpl">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>

</beans>