/* CSS file */
Application {
	/*background-color: #000000;*/
	background-alpha: 1.0;
}

Button {
	width: 100px;
	font-size: 15;
}

Label {
	font-size: 15;
}

HBox {
	padding-left: 10;
	padding-right: 10;
	vertical-align: middle;
}
VBox {
}

ToolTip {
    fontSize: 15;
    font-weight: bold;
    backgroundColor: #bbbbbb;
}

.title {
	font-size: 30;
}
