<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>PRMS APPLICATION</display-name>

    <!-- ============================================= -->
	<!-- SPRING CONTEXT PARAMETER		   			   -->
	<!-- ============================================= -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:applicationContext.xml
			classpath:applicationContext-persist.xml
		</param-value>
	</context-param>

	<!-- ============================================= -->
	<!-- LISTENER						   			   -->
	<!-- ============================================= -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!--<listener>
		<listener-class>org.springframework.security.ui.session.HttpSessionEventPublisher</listener-class>
	</listener>-->

	<!-- ============================================= -->
	<!-- FILTER							   			   -->
	<!-- ============================================= -->
	<!--<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>-->

    <!-- ============================================= -->
	<!-- SPRING FLEX SERVLET			   			   -->
	<!-- ============================================= -->
	 <servlet>
        <servlet-name>prms-servlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>
            	classpath:applicationContext-flex.xml
            </param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>prms-servlet</servlet-name>
        <url-pattern>/spring/*</url-pattern>
    </servlet-mapping>

    <!-- ============================================= -->
	<!-- File Upload Servlet			   			   -->
	<!-- ============================================= -->
	 <servlet>
        <servlet-name>uploadServlet</servlet-name>
        <servlet-class>com.prms.servlet.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uploadServlet</servlet-name>
        <url-pattern>/spring/servlet/uploadServlet</url-pattern>
    </servlet-mapping>

	<!-- ============================================= -->
	<!-- WELCOME FILE					   			   -->
	<!-- ============================================= -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
