<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:vld="http://www.springmodules.org/validation/bean/validator"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springmodules.org/validation/bean/validator http://www.springmodules.org/validation/bean/validator.xsd">

	<bean id="simpleSpring" class="example.SimpleSpring">
		<property name="helloSpring" ref="helloSpring" />
		<property name="messageSource" ref="messageSource" />
		<!--<property name="beanValidator" ref="beanValidator" />-->
	</bean>

	<bean id="helloSpring" class="example.HelloSpring" />

	<!-- ============================================= -->
	<!-- MESSAGESOURCE					   			   -->
	<!-- ============================================= -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="messages" />
	</bean>

</beans>