<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">
        
    <context:annotation-config />

	<bean id="chronosService" class="com.chronos.appengine.sample.PersonService">
		<!--<property name="persistenceManagerFactory" ref="persistenceManagerFactory"/>-->
	</bean>

	<bean id="pmf"
		class="org.springframework.orm.jdo.LocalPersistenceManagerFactoryBean"
		lazy-init="false">
		<property name="persistenceManagerFactoryName" value="transactions-optional" />
	</bean>
	
	<bean id="datastoreService"
        class="com.google.appengine.api.datastore.DatastoreServiceFactory"
        factory-method="getDatastoreService"/>
        
    <bean id="transactionManager" class="org.springframework.orm.jdo.JdoTransactionManager">
		<property name="persistenceManagerFactory" ref="pmf" />
	</bean>
    
</beans>
