<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-2.0.1.xsd">

	<security:global-method-security secured-annotations="enabled">
		<security:protect-pointcut expression="execution(public * org.seungbeomi.*.*(..))" access="ROLE_ADMIN,ROLE_USER" />
	</security:global-method-security>

	<security:http auto-config="true" access-denied-page="/403.jsp">
		<security:intercept-url pattern="/jsp/**" access="ROLE_ADMIN,ROLE_USER"/>
		<security:form-login login-page="/login.jsp" authentication-failure-url="/error.jsp"/>
		<security:logout logout-url="/logout" logout-success-url="/jsp/index.jsp" invalidate-session="true"/>
	</security:http>

	<!-- Automatically receives AuthenticationEvent messages -->
	<bean id="loggerListener" class="org.springframework.security.event.authentication.LoggerListener" />

	<!--
	<security:authentication-provider>
		<security:user-service>
			<security:user name="admin" password="admin" authorities="ROLE_ADMIN,ROLE_USER"/>
			<security:user name="user" password="user" authorities="ROLE_USER"/>
		</security:user-service>
	</security:authentication-provider>
	-->

	<security:authentication-provider>
		<security:jdbc-user-service
			role-prefix="ROLE_"
			data-source-ref="dataSource"
			users-by-username-query="SELECT USERNAME, PASSWORD, ENABLED FROM USERINFO WHERE USERNAME = ?"
			authorities-by-username-query="SELECT U.USERNAME, A.AUTHORITY FROM USERINFO U, AUTHORITIES A WHERE U.USERNAME = A.USERNAME AND U.USERNAME = ?"/>
	</security:authentication-provider>

</beans>