<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- ============================================ -->
    <!-- RESOURCES	 								  -->
    <!-- ============================================ -->
    <context:property-placeholder location="classpath:jdbc.properties" />

    <!-- ============================================ -->
    <!-- DATASOURCE 								  -->
    <!-- ============================================ -->
    <bean id="dataSource"
    	  class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!-- ============================================ -->
    <!-- IBATIS SQLMAPCLIENT						  -->
    <!-- ============================================ -->
    <bean id="sqlMapClient"
          class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
        <property name="configLocation" value="/WEB-INF/sqlMapConfig.xml" />
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- ============================================= -->
    <!-- TRANSACTION MANAGER			   			   -->
    <!-- ============================================= -->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- ============================================= -->
    <!-- TRANSACTION					   			   -->
    <!-- ============================================= -->
    <!--
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
    	<tx:attributes>
    		<tx:method name="save*" propagation="REQUIRED" rollback-for="Exception"/>
    	</tx:attributes>
    </tx:advice>

    <aop:config>
    	<aop:pointcut id="txServiceMethod" expression="execution(public * com.prms..*.*(..))"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="txServiceMethod"/>
    </aop:config>
    -->

    <!-- ============================================= -->
    <!-- AOP							   			   -->
    <!-- ============================================= -->
    <!--
    <bean id="loggingAspect" class="com.prms.util.LoggingAspect"/>

    <aop:config>
        <aop:aspect id="logging" ref="loggingAspect">
	    	<aop:pointcut id="loggingPointcut" expression="execution(public * com.prms..*.*(..))"/>
            <aop:around pointcut-ref="loggingPointcut" method="logging"/>
        </aop:aspect>
    </aop:config>
    -->

	<!-- ============================================= -->
    <!-- APPLICATION RESOURCE			   			   -->
    <!-- ============================================= -->
    <bean id="messageSource"
        class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="messages" />
    </bean>

</beans>